[2018-01-22 19:08] abburgess opened #1 "Idea Template"
**Idea**
Explain the project and _how_ a student would engage.

**Skills Needed**
List of skills needed, e.g. jupyter, kubernetes, dask, xarray, zarr, python

**Mentors**
Annie Burgess, ESIP Federation

More information on how to write a good idea summary here: https://google.github.io/gsocguides/mentor/making-your-ideas-page

[2018-01-22 21:46] jreadey opened #2 "National Water Model data visualization"
**Idea**

National Water Model data visualization

Create an AJAX WebUI that enables visualization of the entire 20TB National Water Model dataset (http://water.noaa.gov/about/nwm).

There is a viewer for pre-computed National Water Model data at http://water.noaa.gov/tools/nwm-image-viewer, but now that the data is available on AWS, there's the potential to interactively explore the entire datase

[2018-01-22 23:10] lewismc opened #3 "Community Ontology Repository (COR) Feature Updates"
# Idea
The ESIP [COR](http://cor.esipfed.org/) is a custom deployment of the [MMISW ORR Software](https://github.com/mmisw/orr) which provides a data hub for semantic technologists across ESIP.
In addition to the open issues for the ORR [frontend](https://github.com/mmisw/orr-portal/issues) and [backend](https://github.com/mmisw/orr-ont/issues), there are a number of unlogged feature requests incl

[2018-01-22 23:14] RBerkheimer opened #4 "Create Environmental Science Libraries in Python using the Workflow Paradigm for HPC"
**Idea**

Workflow architectures have fundamentally changed the way data is processed. Amazon, Facebook, Twitter, Google, LinkedIn, Wolfram Alpha, and others rely on these systems to provide the enormous scaling that enables them to provide shopping, newsfeed, video streaming, computational, search, and other bandwidth intensive services to so many concurrent users.

However, social media and inte

[2018-01-22 23:17] lewismc opened #5 "SWEET Ontology Alignments"
# Idea
The [Semantic Web for Earth and Environmental Terminology](https://github.com/ESIPFed/sweet) (SWEET) Ontology SWEET is a highly modular ontology suite with ~7000 concepts in 225 separate ontologies covering Earth system science. Under community development and governance at the ESIP [Semantic Technologies Committee](http://wiki.esipfed.org/index.php/Semantic_Technologies), there are a numbe

[2018-01-23 15:00] RBerkheimer opened #6 "A State Testing Platform for Critical Scientific Data Development"
**Idea**

Harness was initially developed as a state testing platform for the PHA (Pairwise Homogeneity Algorithm), a complex and rigorous climatological algorithm that performs automated quality control on the temperature station readings of the official climate record of the United States.

The idea is to provide a pseudo workflow system to parse entire projects gathered from version control sys

[2018-01-24 23:09] zhizhin opened #7 "CNN Classifier for High-Resolution Daytime Satellite Images Linked to the Nighttime Infrared Detections"
**Idea**

VIIRS Nightfire http://www.mdpi.com/2072-4292/5/9/4423 provides anchors to possible gas flare / industrial site / fire-explosion events with ~100m location error, but we can’t see them in high resolution at night. It will be interesting to apply deep learning image classifier (Regions with Convolutional Neural Networks, R-CNN) to small subsets from Google Maps high resolution satellite i

[2018-02-12 19:49] stbnps commented on #7
Hi!

Cool project overall, but I have some questions.

Is this project oriented to the research centered (find the best model, and build a simple set of scripts), or does it require a heavy effort on additional functionality (nice GUI, itegration with other software etc)?

Do you already have a baseline to compare models? If not, does the project involve research on existing models to use them as

[2018-02-12 20:00] zhizhin commented on #7
Hi,

The project is oriented on research only. All these GUI etc. may happen an excuse to avoid the main problem: correct classification.

We have all the input, namely candidate locations (no need to improve) and a way to get high-res imagery for each of them (this can be improved).

We need labeling of the candidates with some certainly numbers, say a given location is 95% gas flare and 5% refin

[2018-02-14 05:58] jaskirat1208 commented on #3
I would like to contribute to it. Please guide me how to start.

[2018-02-14 06:51] lewismc commented on #3
Hello @jaskirat1208 thank you for registering your interest. ESIP has been selected as a particpating organization so you should scope out the guidelines and timeline over at the GSoC site.
As it turns out, [Student Applications open March 12, 2018 at 09:00 (PDT)](https://summerofcode.withgoogle.com/get-started/), however I would encourage you to begin getting involved in COR development before th

[2018-02-14 08:34] aarifsk commented on #4
Hello! I would be extremely interested in contributing to this topic. Please help me get started.

[2018-02-14 16:13] RBerkheimer commented on #4
Hi @aarifsk - Thanks for your enthusiasm and interest! Student applications will begin being accepted March 12th. To help you think about forming your application -

This project will deal with the development of generic, python based, scientific libraries for domain specific applications that leverage network-distributed workflow systems (such as Spark, Storm, Luigi, Onyx, Dask Distributed, etc.)

[2018-02-14 17:05] RBerkheimer commented on #6
For interested students, I'm sharing some correspondence I sent to an interested student as a reply I received through email:

According to GSoC rules, student applications open on March 12th. But I can help you get started planning your application. I'm glad you already read the white paper - did you watch the ESIP presentation as well? It provides some more context for the project and its archit

[2018-02-14 19:36] malgamves commented on #5
I can't get good reading content on ontology alignment. Any other resources available?

[2018-02-14 19:51] carueda commented on #3
Hi @jaskirat1208 yes, thanks for your interest.  Let us know as you explore and see potential tasks and tell us perhaps about any preference in terms of backend or frontend focus, etc.

@lewismc Lewis, yes, I'll start by adding the 'good first issue' label in the ORR issue trackers and looking into using it in appropriate entries.  And yes, we need to enter those unlogged feature requests.

[2018-02-14 19:55] jaskirat1208 commented on #3
@carueda @lewismc  could you please give me some easy to start tasks that I can do to start with?

[2018-02-14 20:28] lieberjosh commented on #2
Harvard Center for Geographic Analysis is developing a system for analyzing and viewing NWM output data using GPU-powered data access and rendering (MapD). We'd also be interested in supporting student development of visualization applications on top of this. While we have captured our own store of 6 weeks of NWM output netcdf datafiles, access to an already created S3 store would be helpful if su

[2018-02-15 02:41] jreadey commented on #2
@lieberjosh - that sounds very interesting.  Does MapD already support data stored in HDF5?

[2018-02-15 03:23] lieberjosh commented on #2
Not yet. A possible enhancement. We presently do conversion and processing of the output files before loading.

[2018-02-15 05:16] jjmachan commented on #2
hi,
I would like to work on this project. I am experienced in  working with web apps and build a few using angular. I've gone through the docs and have a rough idea. Can I start working on this?

[2018-02-15 11:36] rsignell-usgs commented on #2
https://www.prnewswire.com/news-releases/mapd-to-collaborate-with-the-center-for-geographic-analysis-at-harvard-university-to-accelerate-research-with-gpus-300505042.html

@lieberjosh , does Harvard have anything to look at yet?

[2018-02-15 14:27] lieberjosh commented on #2
We’re still waiting on hardware to be installed at the Mass Open Cloud and for a new version of MapD supporting more graphics types, but we have a test dataset loaded on an AWS instance. Hope to have something more usable in 1-2 months. That bitcoin-mining is stiff competition for GPU cards.

—Josh

[2018-02-15 18:05] lieberjosh commented on #2
Is there indeed an accessible NWM S3 archive? Haven’t found any information about this.

[2018-02-16 08:45] utkarshrai commented on #7
Hello!
I'm interested in applying for this project but I have some questions.
1. As you specify this is a research project, with "Correct classification" as a goal. Would that mean that we'll be spending most of the time in the analysis and feature compilation?
2. What will be the procedure for judging the applications? What before applying?
3. Is there an existing repo with some beginner code or

[2018-02-16 16:01] vaibhavchellani commented on #3
@carueda @lewismc i would like to work on this as well . I was looking forward to developing COR and was searching for repos in the organisation to view the existing issues . if you could direct me to the correct repo it would be great .
Thanks !

[2018-02-16 18:23] carueda commented on #3
Please see the Idea section.

[2018-02-16 18:26] vaibhavchellani commented on #3
@carueda apologies . thank you

[2018-02-19 12:08] Konsang commented on #7
Hi @zhizhin

Your project looks really interesting. I'm interested in applying for the same. But I'm not sure I clearly understand the problem. As @stbnps mentioned earlier, 'Why are you focusing on detection (with RCNN)? (Semantic segmentation may also solve the problem)'. Are there any warm-up exercises upon which the eligibile candidates will be shortlisted?

Thanks !

[2018-02-19 16:36] zhizhin commented on #7
To answer the questions:

1. We have manually processed list of 10,000+ persistent high temperature nighttime combustion sources (flares, volcanoes, etc.) for years 2012-2016. The NN classifier will be compared with the expert labeling for the success rate. If the NN output will conflict with our expertise, it will not be useful for classification of 2017 data.

2. For the warm-up I will prepare a

[2018-02-20 14:12] Konsang commented on #7
That sounds perfect! Any word regarding the decision timeline and when the mini dataset will be released?

[2018-02-20 23:27] lewismc commented on #5
Hi @malgamves thanks for your interest sorry about lack of response. In short, yes, please see the [SWEET Alignment Manager](https://github.com/ESIPFed/sweet-tools/tree/master/sweet-alignment-manager). Also in terms of literature, you have a wealth of information available at the [ontology matching workshop](http://ontologymatching.org/) as well as [Ontology Matching 2017](http://om2017.ontologyma

[2018-02-21 05:39] malgamves commented on #5
It's ok! @lewismc I'd like to take this issue on. Can I have your guidance?

[2018-02-22 14:08] stbnps commented on #7
I've re-read the problem statement, and I have another question:

I understand that the pipeline goes like this: You first have a location candidate for a fire (night time image), then you analyze a (large) ROI around that location and classify it as oil fields / refineries / steel mills / biomass (day time image).

You have a location for the event, so you already have part of the information, an

[2018-02-22 20:06] zhizhin commented on #7
Esteban, to answer your question:

Accuracy of classification is the top priority. Exact location not needed, but may be useful as a side product.

The problem is that the IR anchor can point to an extended object with multiple flares or a large industrial site with a furnice inside the walls. There is no way to decide which flare or building was contributing to the heat source. We need to classif

[2018-02-22 20:41] Konsang commented on #7
So there is an intermediate step of data annotation because, without it, it'll be hard to classify any RoI. We can use an use an existing dataset like Spacenet which has annotated regions to propose specific RoI but to classify them between the two NOAA satellites won't be possible without manually labelling the Regions with the help of softwares like QGIS.

[2018-02-22 20:46] zhizhin commented on #7
Kaustav, I am afraid you are out of scope here.

The classifier has nothing to do with the JPSS-1 or SNPP. They are LOW resolution imagers. The real input for classifier should be 0.5 - 1 m resolution BW or color images from WordView 3 or whatever. Even Landsat 8 / Senteniel * imagery is too coarse for our task.

Misha

[2018-02-22 20:48] Konsang commented on #7
I'm sorry I've updated my comment.

Thanks!

[2018-02-22 20:51] zhizhin commented on #7
To put it simple :

From SNPP / JPSS-1 we know that something is condstantly hot at night inside 1 square kilometer pixel

Using 1 m resolution daytime images (may be for several dates) of these square kilometer, can we tell with certainty is it an oil well, a refinery or steel mill ?

Misha

[2018-02-22 21:01] Konsang commented on #7
Certainly. I was just a bit confused because the training and testing had varying pixel size.

Thanks for the clarification!

[2018-02-22 22:05] carueda commented on #3
Hi @jaskirat1208 @vaibhavchellani @lewismc and everyone interested.

I was intending to provide some additional information but it has taken a bit longer than planned, sorry.

So, the parent space is https://github.com/mmisw/

The key repositories are:

### https://github.com/mmisw/orr

This one is mainly to build the integrated ORR system, which involves "dockerization" of the ORR itself and use

[2018-02-25 08:35] Harshit-54 commented on #4
Hello,
My name is Harshit Chouhan. I am from IIT kharagpur, India. I want to be a part of this organisation for gsoc 2018 by contributing to this project .I wouldk like to know the current status of the project and can you guide me through the process.

[2018-02-25 18:33] rsignell-usgs commented on #4
@RBerkheimer, this sounds cool, and potentially collaborative with the `pangeo` project that was presented at the ESIP summer meeting, which is using `Jupyterhub` with `xarray` and `dask` on `kubernetes` to crunch multidimensional science datasets in a scalable way.    There is a [3 minute demo](https://www.youtube.com/watch?v=rSOJKbfNBNk) of the `pangeo` project that blew me away, and more detail

[2018-02-25 22:39] RBerkheimer commented on #4
@Harshit-54 Thanks for your interest! It would be great to have you aboard. I've been working with a couple other students prepare their applications, and I'd be happy to help you as well. Application submission officially begins March 12th and runs a couple of weeks.

**I'm preparing ephemeral for release to interested people this week, just finalizing license choice and updating the readme.** I'

[2018-02-25 23:46] RBerkheimer commented on #6
The python 3 version of the repos related to this project are now posted under the MIT license and live on github -

https://github.com/RBerkheimer/pythoncommons
https://github.com/RBerkheimer/mars
https://github.com/RBerkheimer/harness

I've been working with a student on preparing an application for this project and we have the summer fairly well mapped out at this point, but always welcome othe

[2018-02-26 14:40] rsignell-usgs commented on #4
@RBerkheimer , great!  The Pangeo team is excellent and inclusive, so I'm sure they would be interested in hearing about what you are up to.   FYI, the full Pangeo talk at ESIP Winter Meeting is here:
https://www.youtube.com/watch?v=mDrjGxaXQT4

[2018-02-27 13:47] fenilsuchak commented on #7
Hi @zhizhin , I am interested in applying for this project.
I went through the description and the discussions , what still confuses me is that you mentioned "Accuracy is the top priority and exact location isn't so necessary" . But given that there can be multiple objects in the image,bounding boxes would be important I suppose , So my question is will the IoU metric carry any importance at all?

[2018-02-28 13:51] SandySingh commented on #6
Hello! Can I also work on this project? I know some Python, C and JavaScript and I'm new to Open Source.

[2018-03-01 03:23] RBerkheimer commented on #6
Hello Sandy! Yes, we are looking for more contributors. You can definitely work on the project - are you looking to submit an application to GSoC as well? Please let me know.

[2018-03-02 10:00] SandySingh commented on #6
Yes, I would like to submit an application to GSOC

[2018-03-02 12:47] RBerkheimer commented on #6
Great! The first step would be to get the repos and begin to get that code working - once you have the repositories set up, try and follow the DEVELOPMENT_README to get the system to install, prepare the test environment, and run through a series of test evaluations.

I'm working on getting this set up with automated builds on push, but until then, you'll have to follow the readme. If you have iss

[2018-03-08 17:45] edkearns opened #8 "Service for verifying data authenticity of cloud-distributed data stores"
Idea

NOAA has been publishing its open data on commercial cloud partners’ platforms as part of its Big Data Project in order to enable easier access and use of those data. However, when users consume NOAA data from a non-NOAA partner platform there needs to be a way for users to verify the authenticity of those data. Ideas are solicited for techniques to verify that those cloud-based data are ind

[2018-03-09 19:55] danijak commented on #6
Hi, my name is javed ali, student of IIT KHARAGPUR. I want to contribute in this project.
Could someone guide me?

[2018-03-09 19:59] danijak commented on #7
Hi,
I am interested in this project.

[2018-03-09 20:02] danijak commented on #4
Hi,
I am javed ali from IIT KHARAGPUR, I am intersted in this project. Could someone please guide me?

[2018-03-10 08:20] SandySingh commented on #6
@danijak First follow the installation procedure in the above comment and currently installation is only possible in Linux environment

[2018-03-10 19:51] leandroleal commented on #7
Hello Dr. Zhizhin

This problem is very interesting and I'm excited to applying for it. I have experience with deep learning and remote sensing, specifically a semantic classification (using U-net) of Landsat data (for pastureland mapping), as part of my PhD (https://github.com/lapig-ufg/dl4landsat).

Basically the data acquired by Suomi NPP and JPSS-1 sattelites will indicate constantly hot regio

[2018-03-11 06:45] zhizhin commented on #7
Hello Leonardo,

Thank you for the interest to our problem.

1 The final solution DOES NOT need to process SNPP/JPSS-1 data. We have solved that part and it is running operationally for 5 years already.

2 We have manually attributed flares from the past years. Every year we get a new set and it is interesting to automate the attribution.

3 The primary interest of my group is gas flares in oil fi

[2018-03-11 17:05] SETIADEEPANSHU commented on #2
I am interested in this project , how can I start?

[2018-03-14 11:13] rsignell-usgs commented on #2
Ideas for what we would visualize
* soil moisture visualization that overlays stream flow with soil saturation (from @dblodgett-usgs)
* interactive, real-time ability to produce [streamflow animations on a map](https://www.youtube.com/watch?v=lbA2KoYSEsg&feature=youtu.be&t=16)

[2018-03-16 12:11] vyomshm commented on #8
Hello,

I'm interested in working on this. I have some questions and doubts.

1. Ideally, what would be the expected outcome for the project? In my mind, I'm envisioning an open api backed by immutable records/indexes of all files(in a particular dataset for instance) stored on an open distributed ledger. Am i close?

2. If the proposal includes using a blockchain, is there any preference for usin

[2018-03-16 16:28] leandroleal commented on #7
Hi Dr. Zhizhin,

I'm elaborating my proposal and I got some other questions:

1. There will be more than one IR nighttime sources inside the one constantly hot region ? For instance, multiples gas flares in oil fields and refineries can be located inside the one square kilometer pixel ?
2. Did you found any correlation between the heat sources and the SNPP/JPSS-1 pixels values ?
3. How you actuall

[2018-03-16 21:57] zhizhin commented on #7
Dear Leandro,

To answer your questions:

We need to classify the sources. If there will be more than one flare in that pixel, set them all to flares. In the mixed case set them all to the most probable class.

Here I do note understand exactly what you mean. We use SNPP multispectral images to detect the heat sources. Some of them (large fires, volcano eruptions, etc.) can take more than one pixe

[2018-03-17 19:47] jaydeepchakraborty commented on #5
Hi lewismc, I know I am late but if possible can you please clarify the problem statements?
1) I have downloaded SWEET ontology from this "link https://sweet.jpl.nasa.gov/download" and I am using version "SWEET 2.3". Am I looking into correct ontology?
Because in "SWEET Alignment Manager", under "alignments", there is entity "http://sweetontology.net/matrEquipment/Communication". Which I can not f

[2018-03-18 07:14] fenilsuchak commented on #7
Hello @zhizhin!
 I have submitted a draft proposal for the GSOC'18 I request you to please review it and comment any feedback on the draft proposal (google doc) which I have shared via the GSOC page. I hope you have received the link.

Thank you.

[2018-03-19 21:18] zhizhin commented on #7
Hello fenx,

I am currently on travel, will be reading the CSOC docs later this week

Misha

[2018-03-20 23:03] nhandru opened #9 "Recurrent Neural Networks applied in the time-series classification over a high resolution data"
Issue moved to [https://github.com/ESIPFed/GSoC/issues/10](https://github.com/ESIPFed/GSoC/issues/10)

[2018-03-21 19:59] EvandroCT opened #10 "Recurrent Neural Networks applied in the time-series classification over a high resolution data"
**Idea (Proposed by student)**

The increasing number of sensors orbiting the earth is systematically producing larger volumes of data, with better spatiotemporal resolutions. To deal with that, better accurate machine learning approaches, such as Deep Learning (DL), are needed to transform raw data into applicable Information. Several DL architectures (e.g. CNN, semantic segmentation) rely only a

[2018-03-21 20:00] #9 closed

[2018-03-22 19:44] Prakash2403 commented on #10
@EvandroCT Is there some eligibility criteria for becoming a mentor?

[2018-03-22 20:25] EvandroCT commented on #10
@Prakash2403 Thank you for being interested! The main restriction is that a mentor cannot participate also as a student, as appointed in the clause 5.2 of the [GSoC Program Rules](https://summerofcode.withgoogle.com/rules/). If you would like to become a mentor, please, ask @abburgess to send you an invitation.

[2018-03-22 20:29] Prakash2403 commented on #10
@EvandroCT @abburgess I just have one more doubt. Do I have to send some application for being a mentor? If yes, then will it's template be same as GSoC student template?

[2018-03-22 20:50] EvandroCT commented on #10
@Prakash2403, I suppose not. If you choose to mentor my project idea, you should not submit at least the project idea (which is what normally happens), but I don't know if there's a mentor's application asked by the organization.

[2018-03-22 21:12] esip-lab commented on #10
Hi all -

As ESIP is the mentoring organization, the project mentor would have to be
affiliated with an ESIP Member Organization.

On Thu, Mar 22, 2018 at 1:50 PM, Evandro Carrijo Taquary <
notifications@github.com> wrote:

[2018-03-22 21:34] Prakash2403 commented on #10
@abburgess Is there a standard procedure to join ESIP member organization?

[2018-03-22 22:47] lewismc commented on #5
@malgamves are you still interested in this? The documentation above provides all of the prerequisite reading resources.

[2018-03-22 22:49] lewismc commented on #5
@jaydeepchakraborty

No, look at the above hyperlink for SWEET... it links to https://github.com/ESIPFed/sweet

Some of them yes... there are several other ones as well, which again are documented above at https://github.com/ESIPFed/sweet/issues

[2018-03-23 00:27] jaydeepchakraborty commented on #5
@lewismc , thank you for replying back.

I am writing a proposal for this project, is there any way I can share with you please?

[2018-03-23 00:32] lewismc commented on #5
Yes @jaydeepchakraborty  please share with me a GDoc hyperlink. Thanks

[2018-03-23 14:56] jaydeepchakraborty commented on #5
@lewismc  , I have one more question. Do you have any corpus of Earth and Environmental Terminology?

[2018-03-23 15:00] lewismc commented on #5
@jaydeepchakraborty can you elaborate?

[2018-03-23 16:20] malgamves commented on #5
Yes @lewismc I am still interested, I've added them to my reading list.. my proposal is in the works.

[2018-03-23 16:24] jaydeepchakraborty commented on #5
@lewismc  Sorry for the confusion. I was looking for a corpus(documents) which has information about the concepts, properties, and instances of SWEET ontology(at least used those concepts, properties, and instances in documents) and same for target ontologies.

[2018-03-23 16:36] lewismc commented on #5
@malgamves OK

[2018-03-23 16:38] lewismc commented on #5
@jaydeepchakraborty in all honesty no... the concepts, properties, and instances contained within the SWEET ontology suite are derived from across the while of Earth and environmental terminology.
As part of your proposal it would be nice for your select a number of alignment resources and then undertake the prerequisite literature review. This is the best information I can give you at this stage.

[2018-03-23 21:01] lewismc commented on #3
@jaskirat1208 any updates here?

[2018-03-23 21:11] lewismc commented on #10
Hi @EvandroCT I would be interested in taking this on as a mentor however I have a few suggestions

1. I would also highly encourage you to consider using [Apache MXNet](https://mxnet.incubator.apache.org/) simply due to the fact that I am already a member of the Apache Software Foundation therefore we would have much more traction if and when we were either looking for help or attempting to contr

[2018-03-24 00:50] Gautamshahi commented on #5
@lewismc I have an experience of working in the Ontology Development and Ontology Alignment. Looking forward to the discussion.

[2018-03-24 00:51] Gautamshahi commented on #1
@abburgess any suggestions for the Idea development?

[2018-03-24 01:51] lewismc commented on #5
Thanks @Gautamshahi

[2018-03-24 20:48] EvandroCT commented on #10
@lewismc Thank you for being interested! I took a look at the COAL project and it sounds very interesting. I have already played around with MXNet within R, but at that time, the "port" to the R environment was a little lacky and I end up using Tensorflow at all. But, as we're going to Python coding (its native environment), it's a great opportunity for me to take a step back and give MXNet anothe

[2018-03-25 16:11] adi07wad commented on #10
Hi All,

I am interested in contributing to this project and wanted to understand about the project in further detail. Can someone please guide me on where I can find further documentation about this project?

Thanks and regards,
Aditi

[2018-03-25 17:26] EvandroCT commented on #10
Hi @adi07wad! I'm about to publish a first version of the project's proposal and, as soon as finish it, I'll share the draft here with you, ok?

Thank you for being interested!

[2018-03-25 19:10] lewismc commented on #10
@EvandroCT

It depends on which flight lines from AVIRIS-C and AVIRIS-NG we use. The instrument is flown as a suborbital mission hence there is no predictale repeat period e.g. no temporal repeat.
This does not however meant that we could not still progress with the project. I would be VERY interested in extending COAL to accommodate other (possibly obital) datasets which demonstrate repeat period

[2018-03-25 22:07] EvandroCT commented on #10
@lewismc I have looked at the AVIRIS datasets and already noticed the observations you made. Even though there's no repeat periods, there are some regions with big density of flight lines (namely Hawaii and California) which have good - but irregular - temporal resolutions. But, for sake of simplicity, at the beginning we could work with Sentinel or other open high-res imagery.

I already have see

[2018-03-26 05:49] lewismc commented on #10
Hi @EvandroCT the proposal is looking reasonable but it is missing some key criteria such as **reporting**.
If possible, I would like to set up a WebEx or GHangout to iron out the issues with you before you submit the proposal. Would that be OK?

[2018-03-26 12:37] EvandroCT commented on #10
@lewismc Yes, it is ok! I sent you an email to schedule the conference.

[2018-03-26 15:54] leandroleal commented on #7
Hi Dr. @zhizhin,

I submitted my draft proposal, according with the ESIPFed Application Template ( https://github.com/ESIPFed/GSoC/wiki/Application-Template). If possible, can you review it ?
It will be good if I can clarify some proposal aspects before of my final submission.

Thanks very much.

Bests,
Leandro Leal Parente

[2018-03-27 23:51] skybristol commented on #8
Isn't this problem complicated in that at least some of the data housed on different cloud providers may be transformed into completely different representations? How Amazon decides to house and make the data accessible on their platform is different than how Google makes the data available to Google Earth Engine. Could an approach include some form of model or workflow that generates a calculated

[2018-03-28 10:50] edkearns commented on #8
Thanks for your interest.

1. Yes, I think you are on the right track. An open catalog or ledger that
would allow users to understand where the data came from and that they are
authentic would be one kind of solution.
2. No preference at this point.
3. The organization may be willing to underwrite the costs of the
computation/resources required for the solution, but an economical solution
(in both

[2018-03-28 10:54] edkearns commented on #8
Right, and the original data that are the feedstock for the new
presentation could/should be verified, and perhaps the process that creates
the new dataforms should also be verified in order for the new dataforms to
be considered authenticated. And yes, a statistical subsampling may be the
most economical approach given the large number of data files and data
points inherent in the problem.

Ed

O

[2018-04-16 17:16] #3 closed

[2018-04-16 17:29] #7 closed

[2018-04-16 17:29] #6 closed

[2018-04-16 17:29] #5 closed

[2018-04-16 17:29] #2 closed

[2018-04-16 22:07] graybeal commented on #5
Even if it's 'too late', here is information I thought worth including in the thread. There is a group, described below, that has been gathering information about reconciling parameter names, and has had quite a few webinars (recorded) of different teams presenting their own approaches to parameter names. I am watching the Pangaea presentation, it's quite interesting. These would form a great basi

[2018-04-23 16:53] fenilsuchak commented on #7
This project idea wasn't listed in the GSOC project ideas list. Is there an error?

[2018-04-23 16:58] zhizhin commented on #7
No errors

The idea got the most number of applications in the GSOC but was not approved by the GSOC manager

Misha

[2018-04-23 17:14] fenilsuchak commented on #7
@zhizhin
Oh, thats sad. Any particular reason for not approving?

[2018-04-23 17:16] zhizhin commented on #7
GSOC has had not enough project slots to fit this idea

Misha

[2018-05-08 20:40] lewismc commented on #10
@EvandroCT an you please populate the report at https://github.com/ESIPFed/GSoC/wiki/ISSUE-10-Reporting#week-1-community-bonding-period1st-may--7th-may, thank you

[2018-05-09 00:32] EvandroCT commented on #10
@lewismc Done! Thank you for remembering.

[2018-09-20 10:25] muskanchugh5 commented on #10
@EvandroCT Where can I get the further details of the project.

[2018-09-20 18:20] lewismc commented on #10
@muskan6769 all of the code was baked into the [pycoal toolkit](https://github.com/capstone-coal/pycoal).
The final pull request for the project is located at
https://github.com/capstone-coal/pycoal/pull/159
Documentation for the classes and functions you can use to classify AVIRIS-C and AVIRIS-NG imagery using DNN can be located at https://pycoal.readthedocs.io/en/latest/
Any questions, please ta

[2018-09-20 18:22] lewismc commented on #10
@EvandroCT @abburgess I am closing this issue off as it is essentially done :)

[2019-01-24 18:40] #1 closed

[2019-01-24 18:40] #4 closed

[2019-01-24 19:10] abburgess opened #11 "Review Idea Template Before Submitting"
Before submitting an idea to the ESIP GSOC page, please review the [Idea Template](https://github.com/ESIPFed/gsoc/blob/master/IDEA-template.md)

[2019-02-01 01:07] lewismc opened #12 "Implement advanced features in the Community Ontology Repository (COR)"
## Mentors

Lewis McGibbney, SemTech Committee
Carlos Rueda, SemTech Committee

## Information for Students
Please see general ESIP guidelines...

## Project Ideas

###  Idea Title
Implement advanced features in the Community Ontology Repository (COR)

#### Abstract
COR enables data publishers to publish structured data which can be interlinked and become more useful. As of early 2019 COR is mostl

[2019-02-01 10:19] ayush-anand-13 commented on #12
Sir,
I'd like to join the organization for this project. I'd love to know how to start contributing in a meaningful manner.

[2019-02-01 18:49] lewismc commented on #12
@maykillmore thanks for your response. Can you please email me at lewis.mcgibbney [at] gmail [dot]  com and we can start discussions. Thank you

[2019-02-01 20:19] ZihengSun opened #13 "Ag-Net: building a customized deep neural network for recognizing crop categories based on spectral characteristics"
## ESIP Member Organization
CSISS/LAITS, George Mason University
Alaska Ocean Observing System (AOOS) and Axiom Data Science
## Mentors
Ziheng Sun
Jesse Lopez
## Project Ideas
Ag-Net: building a customized deep neural network for recognizing crop categories based on spectral characteristics
## Information for students
See [ESIP general guidelines](https://github.com/ESIPFed/gsoc/blob/master/STUDEN

[2019-02-03 00:17] Juhi-Purswani commented on #12
Hello,
I would like to join the organization. Please help me getting started.

[2019-02-03 00:20] Juhi-Purswani commented on #13
Sir,
I want to contribute in this project. Please help me to get started.
Thanks.

[2019-02-04 04:41] ZihengSun commented on #13
@Juhi-Purswani Sure. Could you please send me an email (zsun@gmu.edu) and we can start discussion. Thank you!

[2019-02-04 05:37] lewismc commented on #12
@carueda I would like to be able to utilize spatial and temporal extensions to SPARQL e.g. stSPARQL. These extensions are not currently available in AllegroGraph so I am thinking we should implement a new datastore for ORR which supports these extensions. Specifically, Strabon does provide both spatial and temporal extensions to SPARQL so I think we could support it. Let's discuss when we next tag

[2019-02-04 06:21] graybeal commented on #12
I’d like to sound a note of caution here. I expect Implementing a new data store is non-trivial, and should not be taken lightly. (Triply so if you are implying replacing Allegrograph.) Is it clear the same goals can not be achieved with Allegrograph, have you talked to them?

________________________________
From: Lewis John McGibbney <notifications@github.com>
Sent: Sunday, February 3, 2019 21:3

[2019-02-04 16:04] lewismc commented on #12
@carueda if we have a PoC at AllegroGraph then it would be good to get in touch with them.

[2019-02-07 03:12] carueda commented on #12
@lewismc  PoC provided offline.

As we recently discussed, besides of course exploring support from AllegroGraph itself for this extra functionality, it would also be convenient to revisit investigating alternatives, in particular open-source ones. Jena SDB/TBD and Virtuoso were among the ones I explored long time ago: https://github.com/mmisw/mmiorr/tree/master/org.mmisw.ont/src/org/mmisw/ont/tri

[2019-02-07 17:59] esip-lab commented on #2
@jreadey or @rsignell-usgs any chance you'd like to update and open this back up for 2019 GSoC?

[2019-02-07 18:01] esip-lab commented on #7
@zhizhin would like to update and re-open this issue to try to get a student for GSoC 2019?

[2019-02-07 18:02] esip-lab commented on #8
@edkearns any chance you or another NOAA mentor would like to update and open this issue up again for 2019 GSOC?

[2019-02-08 10:43] hdsingh commented on #13
@ZihengSun Sir, I am also very interested in working on this project. I have sent you an email. Can you please check and guide me further?  Thank you!

[2019-02-08 15:25] ZihengSun commented on #13
@hdsingh Welcome! Thanks for your response! I have sent some tutorials for you to get started.

[2019-02-09 19:16] rrishabh145 commented on #13
Hi @ZihengSun ,
I am very interested in working on the project and making a contribution to it. I have sent an email to you stating my interest in the project. Please check the mail and guide me for the project.
Thank You!

[2019-02-10 02:11] AnirudhDagar commented on #13
Hi! I'm really really interested in this project. This is very in line to one of my previous projects.
Correct me if I'm wrong, the underlying task is to build a robust Semantic Image Segmentation model specific for agriculture land Classification.

I'll get started with the literature below and write summary blogs to keep a track of major contributions and the key points for each paper.

[Rethink

[2019-02-10 14:38] ZihengSun commented on #13
Thank you very much for your responses!

We are still waiting for Google official announcement on Feb 26. Before that, make sure you read the ESIP participation [guidelines](https://github.com/ESIPFed/gsoc/blob/master/STUDENT-contribution-guide.md). Any additional questions please let @abburgess or me know.

We have a [general tutorial](https://esip.figshare.com/articles/Some_Basics_of_Deep_Learni

[2019-02-11 06:08] swaroop-nath commented on #13
Hello Sir @ZihengSun, I am really interested in contributing to this project. I have previously worked on projects demanding health status of plants which required a fair bit of knowledge in Image Processing, Classification and working with various standard python libraries.
I have sent you a mail in order to get some context, and understand how to get started. In addition, I shall also be doing w

[2019-02-11 20:30] rsignell-usgs opened #14 "A next-generation GUI for visualizing big gridded data in Python"
## ESIP Member Organization Name
US Geological Survey

## Mentors
Rich Signell, USGS  @rsignell-usgs
Martin Durant, Anaconda @martindurant

## Project Idea
[CF-Compliant](http://cfconventions.org/) ndarray datasets can be visualized in tools that understand the [NetCDF Data Model](https://www.unidata.ucar.edu/software/netcdf/docs/netcdf_data_model.html) and the geospatial metadata they contain.

[2019-02-14 12:58] sugam45 commented on #14
Hi, @rsignell-usgs,
I am very interested in working on the project and making a contribution to it.
Thank You!

[2019-02-14 13:12] navyasingh002 commented on #13
I am really interested in this project , and I have already been doing similar kind of work earlier on also........could you please guide me on how I can contribute.

[2019-02-14 13:22] rsignell-usgs commented on #14
@sugam45, excellent.   What is your experience with these components thus far?

[2019-02-14 13:29] esip-lab commented on #14
Hi all -
Quick reminder that we should hold off on discussing projects at-depth
until February 26th; that is the date mentor organizations are officially
announced. It's okay to say 'hi' though!

AB

Annie Burgess, PhD

Lab Director | Earth Science Information Partners (ESIP)

*esipfed.org/lab <http://esipfed.org/lab>* | 585.738.7549

*Sign up for the monthly ESIP Lab update here <http://eepurl.co

[2019-02-14 13:29] esip-lab commented on #13
Hi all -
Quick reminder that we should hold off on discussing projects at-depth
until February 26th; that is the date mentor organizations are officially
announced. It's okay to say 'hi' though!

AB

Annie Burgess, PhD

Lab Director | Earth Science Information Partners (ESIP)

*esipfed.org/lab <http://esipfed.org/lab>* | 585.738.7549

*Sign up for the monthly ESIP Lab update here <http://eepurl.co

[2019-02-18 11:48] hdsingh commented on #14
I got to know about Pyviz through this issue. Pyviz is just absolutely amazing!!!
It make visualising so much simpler, better and interesting as compared to simply matplotlib, seaborn or other plotting libraries.Thanks a lot for creating this issue and providing such superb resources!!

I would love to contribute to this project for GSOC. I have gone through all the videos mentioned above and fini

[2019-02-25 20:48] lewismc commented on #12
@maykillmore have you had any further thoughts about the project?

[2019-02-25 21:47] ayush-anand-13 commented on #12
@lewismc
Sir,
 I'm ready to get started and would like to get further instructions as to how to proceed. I've gathered a basic understanding of semantic technologies and am currently reading allegrograph documentation. What else should I do?

[2019-02-26 22:05] aniruddhgoteti commented on #13
Congrats ESIP!

As it is 26th February, I guess it is okay to discuss ideas now!

Hello Ziheng, Hope you are doing well. I was following this organisation and was quite thinking about the ideas to implement this NN. I have mailed them to you. Please let me know how you feel about them.

Thanks and Regards,
Aniruddh

[2019-02-26 22:33] esproles opened #15 "Developing methods and libraries to ingest in situ data into Google Earth Engine"
**Montana State University**

**Mentors**
Dr. Eric Sproles; Department of Earth Sciences, Montana State University
Dr. Sean Yaw; Department of Computer Science, Montana State University

**Information for Students**
Please see [ESIP’s general guidelines](https://github.com/ESIPFed/gsoc/blob/master/STUDENT-contribution-guide.md).

**Project Ideas**
_Developing methods and libraries to ingest in sit

[2019-02-26 22:36] lewismc commented on #12
@maykillmore until the GSoC project gets started please start working on [these issues](https://github.com/mmisw/orr-ont/issues) if you need more guidance or want to get started with the GUI then please see [these issues](https://github.com/mmisw/orr-portal/issues)

[2019-02-27 04:26] ZihengSun commented on #13
Hi @all
Congratulations ESIP is officially GSoC mentor org!
Let's start to think about how to write your applications!
Slack would be a great place to discuss details. Please join in ESIP slack workspace and send me a message about your plans.

[2019-02-27 06:50] ritwikagarwal commented on #15
Hey @esproles how I could I reach mentors in this project?

[2019-02-27 06:53] Harshit4199 commented on #13
Hello, I want to contribute myself to this project and want to solve the issues. I have mailed to @ZihengSun and want further comments. Thank you!

[2019-02-27 11:26] 1998at commented on #13
Hello @ZihengSun  I am interesting in contributing to the project.I would like to ask you about the dataset that we have to work upon

[2019-02-27 19:00] ZihengSun commented on #13
I created a sample dataset for you to start.
https://github.com/ZihengSun/Ag-Net-Dataset

[2019-02-27 19:10] AnirudhDagar commented on #13
Thanks for this @ZihengSun, it will be really helpful :)

[2019-02-27 19:19] hdsingh commented on #14
Congratulations, ESIP for getting selected in GSOC 2019 !!!

[2019-02-27 19:26] thePairedElectron commented on #13
Hello @ZihengSun , I'm Aditya, final year engineering student, I would like to contribute to this project. Please guide me further.

[2019-02-27 20:16] rsignell-usgs commented on #14
Great news indeed!

[2019-02-27 23:55] yosoyjay opened #17 "OrcaCNN: Detecting and classifying killer whales from acoustic data"
# ESIP Member Organization

Alaska Ocean Observing System (AOOS) and Axiom Data Science

# Mentors

Jesse Lopez, Dan Olsen

# Project Idea

Build, compare, and analyze neural network models built to detect Killer Whales from passive acoustic data.

# Information for students

Just the generally information for students.  See [ESIP Student Guide](https://github.com/ESIPFed/gsoc/blob/master/STUDENT-

[2019-02-28 01:27] Ruturaj123 commented on #17
Hi @yosoyjay,
I would like to work on this project. I have previous experience of working with CNNs and would like to contribute to this. After going through the First steps mentioned above, what is the next step?

[2019-02-28 04:44] PariyaPm commented on #13
Hi @ZihengSun , I made my own implementation of U-net and another network called segNet on land change prediction problem (pixel wise semantic segmentation), my paper on that is in the final revisions. I think I'd be able to help on this project. Please let me know if you have patches of labeled data. If I can help at this project I would be glad to.

[2019-02-28 10:12] sinAshish commented on #13
Hi @ZihengSun, I am interested in contributing towards the project. I have previous worked on a similar problem on Kaggle. I also a fair share of experience with segmentation modelling. Please let me know what do do further!

[2019-02-28 10:15] sinAshish commented on #17
Hi @yosoyjay I am interested in this project. I have previously worked on audio classification. Please guide me further!

[2019-02-28 14:52] ZihengSun commented on #13
Hi @PariyaPm ,

Thank you for the response. That was great progress! U-Net and SegNet are both promising networks for land cover classification. I have created a [sample training dataset](https://github.com/ZihengSun/Ag-Net-Dataset). I believe it is trainable for both nets (I tried it on SegNet a little bit). Let me know if you meet any problems when using them.

Best, Ziheng

[2019-02-28 14:56] ZihengSun commented on #13
Hi @thePairedElectron Please take a look at the sample dataset and general tutorial above to help you get started.

[2019-02-28 15:14] sinAshish commented on #13
UNet with attention gives better results than SegNet.

[2019-02-28 15:29] ZihengSun commented on #13
@sinAshish It might be true in some cases. However, we need experiment results before making final conclusion statement in general scope.

[2019-02-28 17:42] sinAshish commented on #13
ok, I'll post the experimental results here after my model gets trained!

[2019-02-28 21:53] sugam45 commented on #14
[pangeo.pydata.org](url) showing the error "Server not found"

[2019-02-28 21:54] sugam45 commented on #14
`[Pangeo ](pangeo.pydata.org)`site showing the error "Server not found"

[2019-02-28 21:57] sugam45 commented on #14
[pangeo.pydata.org](pangeo.pydata.org) site showing the error **"Server Not Found"**. I think they have closed the access to it.
![screenshot_2019-03-01 deployments pangeo documentation](https://user-images.githubusercontent.com/41995906/53601643-8d38ed80-3bd2-11e9-9e57-e75969c68ec6.png)

[2019-02-28 22:08] rsignell-usgs commented on #14
Yes, that pangeo instance is gone.    Leaving it wide open was causing the research credits to be depleted too quickly.   You can use the pangeo binder though.  Try clicking the `launch binder` button here, for example: https://github.com/reproducible-notebooks/HRRR_Dashboard

[2019-03-01 04:09] mmlella commented on #15
I have gone through the links provided to get familiar with the project, but the github link for SnowHydro code does not work.

[2019-03-01 05:03] rishi-s8 commented on #13
I would like to contribute to this project. I have some experience with Deep Neural Networks, UNet, Autoencoders, Keras, PyTorch and Tensorflow and with training models. Can you help me get started?

[2019-03-01 05:30] ZER-0-NE commented on #17
Hi @yosoyjay.
I am Abhishek Singh, a 3rd year undergraduate at NIT Durgapur. I am excited to apply to GSoC this year with this project idea.
My background: In my sophomore year, I published a research paper, Detection of Rare Genetic Diseases using Facial 2D Images with Transfer Learning, where I used a CNN(VGGFace with ResNet50 architecture) and beat the previous SOTA achieving an accuracy of 98%

[2019-03-01 06:50] Sanditya2510 commented on #17
Hi @yosoyjay. I am interested to contribute to this project. Annie Burgess referred me here.Please provide me the dataset so that I can start the work. I have been involved in several research projects under reknowned professors. I have won several competitions of data science. Some of my projects include a virtual mouse controller, face swapped on live video etc.

[2019-03-01 15:08] sankalpmittal1911 commented on #13
Respected Sir,
I have sent you an email stating the previous experience I have in the field and have asked for help to get me started further. I have also stated that I have read about U-Net architecture and Image segmentation. I have also seen the dataset which you have posted here.

My email is f20150242@hyderabad.bits-pilani.ac.in.

Can you help me figure out what to do next?

Thank you.

[2019-03-02 00:40] mrizwank97 commented on #17
Hello, @yosoyjay and everyone else. This is a very exciting project. I have gone through the first steps and now I have the overall idea of the project. I want to contribute to this project. I have previous experience with machine learning algorithms including simple neural networks to convolutional neural to recurrent neural networks and reinforcement learning. Its been over a year since I starte

[2019-03-02 04:04] parthpm commented on #17
Hi @yosoyjay,I am interested to contribute to this project. I have previous experience of working with different architecture of CNNs & RNNs and would like to contribute to this. After going through the first steps mentioned above, what is the next step?

[2019-03-02 05:58] sarat-svl commented on #13
Hello sir@ZihengSun, I am currently pursuing my pg at IIIT-Hyderabad and I am really interested in working on this project. Can you provide more information about the project and resources so that I can get more familiar?

Mail: sarat.sristi@students.iiit.ac.in

[2019-03-02 06:14] ZihengSun commented on #13
Hi, thank you for the responses! Please start with using the network you are familiar with like unet autoencoder, segnet, yolo, rcnn, etc to test run on the sample dataset above. From the results you will be able to see the drawbacks and think about how to customize the network to improve the accuracy. Write your thought into an application. Any difficulties please let me know.

[2019-03-02 07:55] sankalpmittal1911 commented on #13
Sir, Can I submit you my work after some days (like 3-4) ?

[2019-03-02 16:36] 1998at commented on #13
@ZihengSun  You mentioned having experimented with Segnets.Did You also Try to Experiment with number of Channels you were passing.Instead of passing all the 7 channels maybe Passing Each Channel Individually or Grouping 2-3 Channels together and then on final Prediction Taking a Weighted Average For The Final Segmentation Mask.I think that should Make The model converge More Fast

[2019-03-02 18:19] sainimohit23 commented on #17
@yosoyjay can you explain little more about dataset? what kind of classes are there and how many classes are there. What would be the size of audio clip(in seconds). There isn't much work done on acoustic classification. So, little more information on dataset would be helpful to find and study related research work.

[2019-03-02 18:37] 1998at commented on #17
Hi @yosoyjay  I would like to Contribute to the project.I have A lot Of Experience In This Kind Of Projects and have also been in top 20% in some kaggle competitions and have scored second place in HackerEarths deep learning challenge regarding Image Classification.I have also Worked on Speech Detection using CNN.Could you provide with some sample data to start working upon.

[2019-03-02 18:57] sinAshish commented on #13
@ZihengSun  is it ok to use the dataset provided by you on other platforms like kaggle or colab for GPU services?

[2019-03-02 19:21] sinAshish commented on #13
A [very very basic EDA](https://www.kaggle.com/ashishsinhaiitr/agnet?scriptVersionId=11085491)  of the sample dataset. Fellow participants would find it useful to see the various channels with the mask.

[2019-03-02 19:58] kushagragpt99 commented on #12
@lewismc
Sir,
I am Kushagra Gupta, a sophomore at Indian Institute of Technology Kanpur pursuing B.S. in Mathematics and Scientific Computing.
I am interested in the field of Machine Learning and Data Analytics and have developed my skills for the same. I am comfortable with C++, Matlab, Go, Python and Python based machine learning and scientific computing libraries like Tensorflow, numPy, Matplot

[2019-03-02 21:41] kunakl07 commented on #14
@rsignell-usgs ,I would be thrilled if I get to contribute to this projects as I have done past data visualization projects using Matplotlib,Seaborn,Plotly,Geoplot and also machine learning libraries like sci-kit learn,tensorflow,keras,Categotical Boost and Pybrain

[2019-03-02 22:21] ritwikagarwal commented on #15
@esproles mailed you :)

[2019-03-03 02:27] ZihengSun commented on #13
No, I didn't try that. It could be interesting. The visible bands are very limited in distinguishing crops in growing season. Fully taking advantage of all the 7 bands could make it easier for neural network to recognize them.

[2019-03-03 02:40] ZihengSun commented on #13
Thank you for sharing this!

[2019-03-03 07:54] sankalpmittal1911 commented on #13
Sir, do you mean we may consider all channels at once, average them and pass the newly created dataset of images as training data? This is because #input images = 7*#output images. This may benefit the network I think. Will experiment on this and tell you the result in 3 days. Thank you.

[2019-03-03 14:06] 1998at commented on #13
@ZihengSun I think Averaging All  channels to Combine Them Would Result in Loss Of lots of Information.I think Creating a model that can directly start with 7 Channels is an optimal solution.I am working on the same and would let you know the results soon

[2019-03-03 18:19] catmss commented on #17
Hello @yosoyjay  ! I would really like to contribute to this project, I have worked with CNNs and am currently studying digital signal processing at my university. Having worked with image data for a while, I am willing to learn about audio signals and application of machine learning in the same.

[2019-03-03 20:48] sankalpmittal1911 commented on #13
@ZihengSun  Sir, so I implemented the U-Net on the dataset you gave. The implementation was done by me on Google Colab. Hopefully the GPU was able to handle dataset read all at once. I also started with all the 7 channels directly (taking full effect of pixel values).

The code: https://colab.research.google.com/drive/1WflXioKXcg1SCi_rd2KR60Yq1i6ZO-xc#scrollTo=yNre1WZTmm4L

If you or anyone else i

[2019-03-03 21:45] shivamsaboo17 commented on #13
Hi, @sankalpmittal1911-BitSian you might want to look into the loss function you are using for the task. From what I am guessing, you are considering this as regression problem and using mean squared error (correct me if I am wrong), while in fact this is not a regression problem, rather classification problem. You have to do classification(segmentation) at pixel level (think of predicting probabi

[2019-03-03 21:52] sankalpmittal1911 commented on #13
Hi, @shivamsaboo17

In the end we are generating masked images which are also images. Input is (128,128,1) and output is also (128,128,1). Yes the problem in itself is classification, I get it, since we are reading the output cdl images as a table: https://github.com/ZihengSun/Ag-Net-Dataset/blob/master/cdlvalue.csv

But the output is still an image right? I have not used MSE but have instead used

[2019-03-03 22:09] shivamsaboo17 commented on #13
Hi @sankalpmittal1911-BitSian thanks for replying. I understand your intuition of using sigmoid on each pixel to create a image and then use BCELoss. However, the output is more accurately a segmentation map rather than an image. We use BinaryCrossEntropyLoss when we have only 2 classes to predict (say background and foreground in image). In this case there are more than 2 classes to choose from (

[2019-03-03 22:20] sankalpmittal1911 commented on #13
Thanks a lot for the help! I will update the sigmoid with the softmax layer and use the categorical cross entropy loss as loss function and train the U-Net again. From the dataset, there are 255 classes.

Will post those results soon.

[2019-03-04 01:27] ZihengSun commented on #13
@sankalpmittal1911-BitSian  Averaging is not a recommended practice. As the band values are surface reflectance in different spectral regions, some bands like band 5 have very large numbers, and the others are small. If using average, the variation pattern in the small-number bands will be hard to learn.

Judging from the training log which keep saying the validation accu is zero and not improving

[2019-03-04 03:22] veer11997 commented on #14
i am looking to work on the project of the  organization and contribute to the opensource

[2019-03-04 06:38] sankalpmittal1911 commented on #13
@ZihengSun Sir,

So from what I gather, every pixel in the output layer will be like a array of 255 length (i.e. number of classes).  [0.5 0.4 ....]. This becomes in Keras (batch,128,128,255). Now we need to apply softmax to every pixel of image over the number of classes, that is along axis = 2. Then we need to take the maximum of each pixel along the number of classes so the final image is again

[2019-03-04 12:37] 1998at commented on #13
@ZihengSun  I implemented a toy UNet model just to test whether it works.Here are the Results.I didnt take any validation set(I understand its a bad practice but just wanted to get started),Also There are no Image Augmentations Used.Here is the log after training for 10 epochs
Epoch 0===> trn_loss=1.4780788052082061 trn_acc=0.5332283782958984
Epoch 1===> trn_loss=1.4878936338424682 trn_acc=0.52996

[2019-03-04 12:54] pranavbudhwant commented on #17
Hello, @yosoyjay Sir, I am Pranav Budhwant a pre-final year CSE student at the Pune Institute of Computer Technology. This is a very interesting project & I have worked on similar projects involving audio processing & spectrogram classification.
I have gone through the first steps & would like to know more about the further steps.

[2019-03-04 14:49] kunakl07 commented on #12
Sir,Is this project taken?
I would like to work on this project

[2019-03-04 14:51] kunakl07 commented on #17
Sir,is this project taken?
As,I would like to work on this project

[2019-03-04 15:06] parthpm commented on #14
@rsignell-usgs I am deeply interested in this project.I have done past projects using well known plotting libraries in python.I have gone through the first steps section,Looking forward to contribute.

[2019-03-04 15:21] rishi-s8 commented on #13
@ZihengSun I used a modified the U-Net by adding Batch Normalizations and used sparse_crossentropy as the loss, after applying softmax as the last layer. Also I normalized the pixel values of the band images.
Considering the labels are between 1-247, I plotted the loss graph. It has been attached. As you can see, the loss values aren't very low after 50 epochs. Any suggestions?
![plot](https://use

[2019-03-04 15:42] rsignell-usgs commented on #14
I'm glad to see all the interest here!   This will be very interesting and rewarding project!

[2019-03-04 15:44] lewismc commented on #12
@kushagragpt99 thank you for your interest in the project

No not yet no decisions have been made. If you are interested, you will be asked to provide a proposal. In the meantime please feel free to start coding some open issues at either of the following
https://github.com/mmisw/orr-ont/
https://github.com/mmisw/orr-portal

[2019-03-04 15:45] kunakl07 commented on #14
Sir,@rsignell-usgs.Can I contribute to this project?
and where can I find the dataset?
Or should I download the dataset of some regions from NCDC and show you the result?

[2019-03-04 16:02] rsignell-usgs commented on #14
For reproducibility, better to load data directly from a CF-compliant OPeNDAP endpoint or an S3 bucket (e.g. zarr format), like in:
https://github.com/reproducible-notebooks/HRRR_Dashboard
[![Binder](https://binder.pangeo.io/badge.svg)](https://binder.pangeo.io/v2/gh/reproducible-notebooks/HRRR_Dashboard/master?filepath=HRRR_Dashboard.ipynb)

[2019-03-04 16:12] kunakl07 commented on #14
Thanks sir,@rsignell-usgs!!

[2019-03-04 16:38] sinAshish commented on #13
@ZihengSun I trained a  UNet model with resnet as encoder for 10 epochs, and get a dice score of around 0.48. I used all the 7 channels at once. But I need some help in loading the mask to appropriate no. of classes

[2019-03-04 20:03] esproles commented on #15
https://github.com/MountainHydroClimate/SCF_ESIP/

go for version 6

[2019-03-04 20:35] sankalpmittal1911 commented on #13
Hi @sinAshish,

By dice score do you mean IoU or something similar? So did you use that as a custom metric instead of just accuracy. I will update my model based on suggestions here. I have this one problem:

So I have this output image of the form (batch,128,128,255). How will I apply softmax to this keras API layer along the axis such that it is applied over number of classes. And how we will se

[2019-03-04 20:49] esproles commented on #15
The best way to contact us is through this GitHub page.

[2019-03-04 21:22] ZihengSun commented on #13
@sankalpmittal1911-BitSian  That is correct. The final predicted class is the one with the highest probability.

[2019-03-04 21:27] ZihengSun commented on #13
@at1998 I would say give it another 100 epochs and see if the training accuracy rise significantly? If not, it might have something in the output layer not matching the CDL training labels.

[2019-03-04 21:29] ZihengSun commented on #13
@rishi-s8 The curves look reasonable. As it is still on the big slope down trend, the loss should be expected to decrease more if the training continues.

[2019-03-04 21:32] ZihengSun commented on #13
Sorry , I am not very clear about the question. Do you want to shrink the number of classes by removing those empty classes?

[2019-03-04 22:39] yosoyjay commented on #17
Hi all!  Sorry for delay in responding, I was out of communication for last Friday through this morning.
Thanks for replying and showing interest in this project, I think it's really cool and has the opportunity for real use for scientists studying Killer Whales, or Orca.

I'm going to be preparing some next steps with code samples, a repo, and questions I'd like any folks interested in the projec

[2019-03-05 03:38] Fenil3510 commented on #17
@yosoyjay, this project looks promising. I would like to contribute to it and I'm looking forward to the code samples and further my understanding of this idea.

[2019-03-05 03:51] sinAshish commented on #13
I stacked all the 7 channels to create a input tensor of (128,128,7), but by mistake I loaded the masks as only ('RGB') for training so the output tensor was (128,128,3). I need help in creating a mask that has the shape of (128,128,255), like how t o do it?

[2019-03-05 05:10] ritwikagarwal commented on #15
Oh ok,so actually I have gone through the documents and looked at the code , Should I start looking at drafting the proposal or do you propose to do something before hand. Also how do I send my proposal to you after drafting the first version.

[2019-03-05 08:13] sankalpmittal1911 commented on #13
[code]

This is my code. The final output is of form (128,128,255). How to apply softmax to this so that I can select image belonging to class having maximum probability?

@ZihengSun  Sir can you help me regarding this? Applying softmax along an axis in Keras API. Thank you. I am assuming that input image is grayscale.

[2019-03-05 14:37] ZihengSun commented on #13
@sankalpmittal1911-BitSian  if you are using Keras, I assume the output of softmax layer will be allowed to calculate the loss with CDL image. Please refer to [this code](https://github.com/divamgupta/image-segmentation-keras/blob/master/Models/Unet.py) for building U-net in Keras.

[2019-03-05 14:50] rsignell-usgs commented on #14
Part of this project will be figuring out what the lon,lat and time dimensions of an xarray dataset are, instead of assuming that they are in a certain order, as in the HRRR_Dashboard referenced above.   The MetPy package can do this:
https://stackoverflow.com/questions/53469510/how-to-identify-time-lon-and-lat-coordinates-in-xarray/

[2019-03-05 16:26] kunakl07 commented on #17
Sir,I am working on LSTM NN as in a recurrent net,the output data's content is influenced not only by the input we've just put in,but by the entire history of inputs through our recurring loop.
LSTM  a type of RecurrentNN remembers everything it's fed therefore it would outform recurrent neural network and
Sir,do I need to compare results of RCNN,Recurrent NN and LSTM?

[2019-03-05 16:45] 1998at commented on #17
Hi @yosoyjay  My name is Ayush Patel (third year UnderGrad) and i have been doing Machine And Deep Learning(especially Computer Vision) for almost a year and a half now.In this time
1)I have Interned at a small Research Company and worked upon feature discovery in Images using Deep Learning.
2) I have built a lot of models like Image Captioning,Segmentation,Image Classification Models and Object D

[2019-03-05 17:13] 1998at commented on #13
@ZihengSun  Why are codes from 1-254 when there are just 133 categories in total in cdlvalues.csv

[2019-03-05 18:56] yosoyjay commented on #17
Hi All, I've added [a link to a repo in first steps](https://github.com/axiom-data-science/OrcaCNN-data) with some sample data and links to tutorials for what I have in mind for this project.  If you believe a different model type would be more appropriate, by all means explore that route.

[2019-03-05 20:37] pranavbudhwant commented on #17
@yosoyjay

Thanks for sharing the sample dataset & resources to get started! I will start working on the sample dataset & the approach you've mentioned, along with a different take on the problem which I think may give some results as well.
Here's the answers to the aforementioned questionnaire:

**Experience with Python:**
1. Have been coding in Python for the past 2 years.
2. Libraries used - Te

[2019-03-06 02:03] ZihengSun commented on #13
@at1998 the missing numbers have no corresponding crop classes so they are skipped. There are only ~130 kinds of crops in US ag statistics.

[2019-03-06 06:19] lewismc opened #18 "Produce Public Relations Content for the ESIP Community Ontology Repository (COR)"
For some time now we've been needing to make COR easier to use and to improve the information from a user perspective.
This project is aimed at the following
* undertake some research to discover what resources the user community would like to see
* compile that feedback, discuss it with mentors and rank what to implement for the GSoC project

Examples of work artifacts which would come out of thi

[2019-03-06 06:25] sankalpmittal1911 commented on #13
@ZihengSun  Sir, the person has reshaped the output from (batch,img_width,img_height,n_classes) to (batch,img_width*img_height,n_classes) and then applied softmax on it. Should I do the same? And then I will have to change the outputs in the same format as well.

[code]

[code]

I don't know how the person is calculating softmax. But I am assuming its normalizing over number of classes only. Now I

[2019-03-06 06:47] FabricioLayedra commented on #18
Hello! I think visualization is a good aproach to increase browsing resources in your platform.

[2019-03-06 12:02] ZER-0-NE commented on #17
Hi @yosoyjay
Regarding the task you mentioned on Github, I have created a small CNN model with the help of the links you listed. I achieved a validation accuracy of 81.82% and training accuracy of 47.83%. This does not improve after 3-4 epochs.
I believe the validation accuracy is higher than training accuracy due to dropout of 40-50% which I've applied in the layers. I am yet to evaluate the mode

[2019-03-06 12:58] 1998at commented on #13
@ZihengSun  I replaced the values in the mask from 1-254 o 1-132 and it loss seems to steadily go down.Dice Scores are Around 0.48 while accuracy is in range 0.5-0.6.NOte that I converted the image to 3 channel by just adding all the values together.Will now increase the initial layer channels to 11 and observe how our accuracy goes up

[2019-03-06 15:57] 1998at commented on #17
@yosoyjay Could you provide us with more data because I ran the data through a model and here is what I am getting:

`Epoch 0/24
----------
train Loss: 0.6653 Acc: 0.6250
val Loss: 0.6385 Acc: 0.5000

Epoch 1/24
----------
train Loss: 0.5128 Acc: 0.6875
val Loss: 0.2004 Acc: 0.8333

Epoch 2/24
----------
train Loss: 0.2114 Acc: 0.9062
val Loss: 0.1228 Acc: 1.0000

Epoch 3/24
----------
train Loss:

[2019-03-06 16:30] yosoyjay commented on #17
@pranavbudhwant Thanks for filing out the information!  Please have a look at the data I posted and see if it's something that's of interest to you.

[2019-03-06 16:33] 1998at commented on #17
@yosoyjay Could you provide with some more samples in the data?

[2019-03-06 16:35] yosoyjay commented on #17
@ZER-0-NE Nice progress and workaround given the limited number of samples.  In your small network, I'd think carefully about what each layer is doing.

ESIP would like us to have communication in the open so as not give applicants an advantage over one another.  However, I'd suggest opening an issue at [OrcaCNN-data repo](https://github.com/axiom-data-science/OrcaCNN-data) and we can discuss in m

[2019-03-06 16:36] yosoyjay commented on #17
@at1998 Yes, the limited data we have available now isn't ideal, but it's just a sample.  It also makes you think carefully about model selection, or how you build your model.

[2019-03-06 16:37] yosoyjay commented on #17
@at1998 Also, as I suggested to @ZER-0-NE, feel free to open an issue on the data repo so we can discuss specific issues there.  Good luck : )

[2019-03-06 18:13] kunakl07 commented on #17
Epoch 491/500
26/26 [==============================] - 0s 857us/step - loss: 1.2563e-06 - acc: 1.0000 - val_loss: 1.1681 - val_acc: 0.8889
Epoch 492/500
26/26 [==============================] - 0s 613us/step - loss: 2.2034e-04 - acc: 1.0000 - val_loss: 1.1974 - val_acc: 0.8889
Epoch 493/500
26/26 [==============================] - 0s 625us/step - loss: 5.4705e-05 - acc: 1.0000 - val_loss: 1.1694 -

[2019-03-06 21:51] kunakl07 commented on #14
Hi @rsignell-usgs ,
With the help of the [link](http://pyviz.org/tutorial/10_Working_with_Large_Datasets.html) that you had provided,I am able to visualize the interactive map.Should,my map also show the latitude and the longitude as the mouse hovers through the region?

[2019-03-06 22:06] rsignell-usgs commented on #14
Yes, it should as long as the hover control is selected.   Try running this example:
[![Binder](https://binder.pangeo.io/badge.svg)](https://binder.pangeo.io/v2/gh/reproducible-notebooks/HRRR_Dashboard/master?filepath=HRRR_Dashboard.ipynb)
Note also that we currently need conda packages from development channels to make this work:
https://github.com/reproducible-notebooks/HRRR_Dashboard/blob/maste

[2019-03-06 22:24] kunakl07 commented on #14
Cool
Thanks sir
And sir Colab doesn't support pyviz so we need to do in Jupyter Notebook only

[2019-03-06 22:31] yosoyjay commented on #17
@kunakl07 That's great that it already recognizes that that there are calls in the long sample.  A next step would be to think about a workflow, or pipeline, that identify which long segments have orca calls, then how do you recognize the calls within the long segments?

I'll be curious to see how the other model architectures perform as well.

[2019-03-06 22:43] kunakl07 commented on #17
Yes sir,I have thought about that too.

Step 1:
Count the number of calls in a single long samples.
Step 2:
Divide the  segments(long sample) by the total number of calls
Step 3:
Find the call in each smaller segments,if there any.

[2019-03-07 16:13] ZER-0-NE commented on #17
Here are the answers @yosoyjay

**Experience with Python:**

- Have been coding in Python for the past 2 years. (More [here](https://sourcerer.io/zer-0-ne))
- Libraries:- Keras, Tensorflow, Pytorch, scikit-learn, numpy, pandas, matplotlib, OpenCV, flask.

**Experience with machine learning:**

- Started my journey in the field of Machine Learning by taking online courses (Machine Learning and Deep

[2019-03-07 19:36] ZER-0-NE commented on #17
@yosoyjay
Regarding the identification of calls in the long segments, I was thinking something along the lines of Binary Search on intervals, maybe dividing the whole segment into certain fixed size intervals and then finding the calls in each of these intervals.

[2019-03-08 09:42] kunakl07 commented on #17
Hi @yosoyjay
Now,we can divide large audio segments into smaller parts and our model would recognize the calls in the segments if there are any.
I have shared the image of output.
Here,initially in long_sample_02,there is no sound of Whale in 1st half and as we have divided the long sound wave into parts, the model has predicted  the smaller part,that turns out to be negative.
![bandicam 2019-03-0

[2019-03-08 11:41] meharbhatia commented on #12
Sir, I am interested and would like to join the organization for this project. I'd love to know how to start contributing in a meaningful manner.

[2019-03-08 15:09] lewismc commented on #12
@meharbhatia thanks for registering your interest. Have you also taken a look at https://github.com/ESIPFed/gsoc/issues/18 ?

[2019-03-08 15:12] martindurant commented on #14
Signing up to this conversation. I am heading up Intake at Anaconda and involved in our development of the GUI for it.

[2019-03-08 16:20] 1998at commented on #13
@ZihengSun  Followed your Advice for observing the effect of training it for more epochs and here's The result.I havent implemented validation set yet.This is just training set.Will implement validation and update you in case model is overfitting.
![image](https://user-images.githubusercontent.com/43177479/54041557-072e2f80-41ee-11e9-8a52-b1d71dc153fc.png)

Also Could you please help me with he pr

[2019-03-08 18:13] yosoyjay commented on #17
@kunakl07 @ZER-0-NE Yes, it's very likely that part of this project will involve taking all of the data and dividing it up into standard sized samples.  I'm not sure if that was included in any of the links I posted, but that is a fairly standard part of the preprocessing acoustic data.

@kunakl07 The screenshot and code maybe helpful to folks, but are difficult to read.  Could you please
format t

[2019-03-08 18:27] esip-lab commented on #15
@esproles any information you could provide @ritwikagarwal on ways to get started?

[2019-03-08 21:25] ndp-opendap opened #19 "Geo-Selection For Hyrax Data Request Form"
# OPeNDAP Inc.

## Mentors

- James Gallagher
- Nathan Potter
- Kodi Neumiller

## Information for students
See
[ESIP Student Guide](https://github.com/ESIPFed/gsoc/blob/master/STUDENT-contribution-guide.md)

## Project

###  Geo-Selection For Hyrax Data Request Form

#### Abstract
The Hyrax Data Request Form (aka IFH) provides a UI from which people can choose and subset variables in a dataset. T

[2019-03-09 04:25] kunakl07 commented on #17
This code is will generate sound wave of variable length as we are dividing the total length by half.
But sir,for standard wave we would require a wave of fixed length.
The following code will divide the ling segment and generate fixed sized segments of size 7 seconds.We can change the size as we want,this is just for an example.
[code]

[2019-03-09 04:30] kunakl07 commented on #17
And @yosoyjay ,sorry for the unclear image.This is the new image of division of long samples into smaller ones and predicting the smaller segments whether they contains calls.
![bandicam 2019-03-08 19-32-19-609 (2)](https://user-images.githubusercontent.com/36035718/54066224-9254f880-41e1-11e9-86dd-1187b73f6193.jpg)

[2019-03-09 09:00] sainimohit23 commented on #17
Hi @yosoyjay . I made a RNN model to get precise time(in seconds) of the orca calls. To trained the model, First I extracted 10 second background noise clips from provided data and then randomly placed positive and negative orca calls on those backgrounds using a python script. [sample audio](https://drive.google.com/open?id=1wzCzs0O37jSiS3E1-LWTffkYWhDXFnDa).

I created a dataset of 80 clips, jus

[2019-03-09 09:18] sankalpmittal1911 commented on #13
[code]

For 10 epochs. Batch Size is 32. Pixel-wise cross entropy loss function.
Input: (Batch,128,128,7)
Output: (Batch,128,128,num_classes)

Should I continue training for 100 epochs or should I change something because learning is too slow?

Thanks.

[2019-03-09 11:44] kunakl07 commented on #14
Hi @rsignell-usgs ,
As the initial task is to predict weather condtions,I have taken weather data from of 5 cities(NCDC).
Here,we are trying to predict the weather for the Danish city "Odense" 24 hours into the future, given the current and past weather-data from 5 cities.
The cities are 'Aalborg', 'Aarhus', 'Esbjerg', 'Odense' and 'Roskilde.
![bandicam 2019-03-09 03-08-52-295](https://user-images

[2019-03-09 11:54] kunakl07 commented on #14
@rsignell-usgs ,
Sir,sorry for responding late,the data filtering from NCDC took a lot of my time.
Would the next step be plotting these points on Maps and when we hover the mouse over these co-ordinates it should give us the predicted climate conditions along with longitude and latitude?
Sir,please correct me where I am going wrong and what will be the tasks to be further accomplished.
Thank you.

[2019-03-09 14:26] ZihengSun commented on #13
@sankalpmittal1911-BitSian It is not slow to me. Usually it takes more epochs to train because of the similarity between crops.

[2019-03-09 14:32] ZihengSun commented on #13
@at1998 I guess you do need write all the details according to the [proposal writing guidelines](https://github.com/ESIPFed/gsoc/blob/master/STUDENT-proposal-template.md). The deliverables in community bonding and coding phases should be explicitly described.

[2019-03-09 15:03] ZihengSun commented on #13
@all A [color map](https://github.com/ZihengSun/Ag-Net-Dataset/blob/master/colormap.py) of the crop values is uploaded. Use it to render your results into the standard crop map style.
![image](https://user-images.githubusercontent.com/17322987/54073215-82c1c800-4252-11e9-9be6-b86b775493c2.png)

[2019-03-09 15:07] 1998at commented on #13
@ZihengSun  In the color map all values (till 255) are available whereas the model that I have been training I have converted values from 1 to 133 and not till 255 since they are not available in the Masks.
Should The final Layer of the model be 133 or 255 ?

[2019-03-09 15:08] ZihengSun commented on #13
Should be 255. Your 133 should be reverse mapped to 255 during map production phase.

[2019-03-09 15:10] sankalpmittal1911 commented on #13
@ZihengSun  Because as per csv table this 133rd class is actually the pixel value 254?

[2019-03-09 15:10] 1998at commented on #13
@ZihengSun Just To clarify ,I should have 133 output in the last layer of UNet as in shape will be (133,128,128) and then reverse map the 133 values to original Values like 255=133 in this model?Am i Assuming correct

[2019-03-09 16:33] ZihengSun commented on #13
It actually has 256 values (8 bit). The best practice is directly using (128, 128, 255) as output shape, using (128, 128, 7) as input shape.

133 is only needed when your network requires consecutive output values. I suggest creating a map variable to remember the relationship between real crop category values and your projected values specially designed for your network, so you won't get confused

[2019-03-09 16:35] 1998at commented on #13
@ZihengSun  I am saving the mapping to a dictionary and will use that to reverse it.Thanks for clarification.

[2019-03-09 17:27] yosoyjay commented on #17
@kunakl07 Yeah, I can guarantee that the audio clips will not be of equal length.  Can you think of another efficient way to split the audio into equal sized chunks across all of the samples?

@sainimohit23 Nice use of synthetic data!  Can you think of a method to evaluate the accuracy of the model?

[2019-03-09 17:46] kunakl07 commented on #17
@yosoyjay
This is the code for dividing various audio-segment of different size into fixed and equal size chunks.So,even if the clips are not of equal length,it would divide audio-segments into equal sized chunks.Here,I have taken an example of dividing audio clips each of 7 seconds and then we can use these equal sized clips to predict calls.
[code]

[2019-03-09 17:48] sainimohit23 commented on #17
I trained it for around 1000 epochs. I didn't tuned the hyper parameters except learning rate.

![Screenshot_55](https://user-images.githubusercontent.com/26195811/54075105-2ea1fc80-42c1-11e9-9534-9c9624ad2479.png)

[2019-03-09 18:19] ZER-0-NE commented on #17
@yosoyjay Can the area under ROC curve be able to evaluate the model? Or F1-score?

[2019-03-09 18:43] yosoyjay commented on #17
@sainimohit23 Can you describe the design of the model?

@ZER-0-NE Yeah, those metrics makes sense for the binary classification, or multi-class, scores.  For @sainimohit23 I was asking how do you measure that you have the timing correct?

[2019-03-09 21:12] ZER-0-NE commented on #17
Oh, I misunderstood. @yosoyjay
This may not be the correct answer but I guess template matching and extraction does show the distinction between whale and non-whale call by finding the shape of whale sound in spectrogram. Though, the time of whale call might include some amount of noise, it can be reduced with some pre-processing steps like contrasting and using weiner filters. An example:

![Scre

[2019-03-10 04:30] sankalpmittal1911 commented on #13
@ZihengSun  Images are (128,128) right? Are you suggesting that I resize the images to (360,360)?

Saw the edit. Thanks. Pixel values are between 0-255. So I guess it should be (128,128,256) however former is fine too I think because maximum value is 254 anyway.

[2019-03-10 07:22] sinAshish commented on #13
@ZihengSun I have made my network as such. Input tensor of (128,128,7) and output tensor of (128,128,255)

[2019-03-10 09:47] 1998at commented on #13
@sankalpmittal1911-BitSian  I tink he is talking about the original Dataset that we will be working upon in the program.Right now we are only given a sample dataset to try out.

[2019-03-10 10:32] sainimohit23 commented on #17
@yosoyjay I have sent you model details via mail. Right now I am looking for a way to use same model to get output for longer clips. I found some functions of pyaudio library which might help me in this.

[2019-03-10 10:51] prasadgujar commented on #19
@ndp-opendap Hello Sir, Is there anyone working on this idea/issue? if not let me know I m interested in working this one.
I had a good experience with the above-mentioned languages and more than 5years of experience in software development.

[2019-03-10 12:32] rsignell-usgs commented on #14
@kunakl07,  predicting weather via neural nets is cool, but we were intending the focus of this GSoC project to be more on making a general GUI for exploring data n-dimensional data on a map.

I think a reasonable initial target would be to build off/improve the examples
https://github.com/reproducible-notebooks/HRRR_Dashboard
https://github.com/reproducible-notebooks/COAWST-ROMS_Dashboards
and tr

[2019-03-10 14:20] kunakl07 commented on #14
Yes @rsignell-usgs,I got your point.
I was going offtrack and thanks for bringing me back on the right track,now my main focus will be creating a general GUI which can be used to show various dimensions on the map and would start by improving [this](https://github.com/reproducible-notebooks/HRRR_Dashboard).

[2019-03-10 14:36] ZihengSun commented on #13
The size is 128, not 360. I downsized the tiles to make the required memory smaller for each batch.

[2019-03-10 15:19] martindurant commented on #14
Note for the pangeo Intake catalog linked above: you can also see a nicely rendered version of it at https://pangeo.io/catalog.html .

From the point of view of the visualisation/GUI, you probably need know nothing about the catalog, but I imagine the interface would be passed an xarray object which could come from anywhere. The HRRR Dashboard, above, does not happen to use Intake.

[2019-03-11 21:23] kunakl07 commented on #17
Hi @yosoyjay ,
After combining the sound of a ship's horn(that we can hear near the coast) and a long sample wave,I got the following audio [result](https://drive.google.com/open?id=1wzCzs0O37jSiS3E1-LWTffkYWhDXFnDa)
We can also perform various augmentations like adding noise,stretching and shifting the the sound file.
I have given the code below so that @ZER-0-NE @sainimohit23  can increase your

[2019-03-11 21:32] ZER-0-NE commented on #17
@kunakl07 Thanks for the code. As mentioned earlier, You can `quote` for better readability of your code :)
May I know at exacly what position did you "combine" the noise in your sample file?
I guess @yosoyjay is looking for kind of an automated way to detect the start and end time of the whale call and their duration in the sample.

[2019-03-11 21:41] kunakl07 commented on #17
@ZER-0-NE ,Here I've combined the overlay at 0:01.You can add it as per your wish.

[2019-03-11 21:53] ZER-0-NE commented on #17
Why did you divide into equal chunks of 7 seconds? What if the audio sample were of much shorter length? (say 4s?)
I just believe there can be a much more efficient way :)

[2019-03-12 01:20] yosoyjay commented on #17
@ZER-0-NE Yeah, I totally think you are on the right track with your thinking about how to identify the times where a killer whales is very likely to be in a long sample.  It would probably be worthwhile to explore both methods to evaluate the tradeoffs.

@sainimohit23 Thanks for the email, I'll have a look in detail there and reply.

@kunakl07 Thanks!  I think these nice methods can be quite usef

[2019-03-12 02:27] kunakl07 commented on #17
@ZER-0-NE You are free to take any size that you want,I've just taken 7 as an example,since,after augmenting,my audio clip was long.But,yeah still dividing into smaller parts would be efficient if the audio size is much smaller.
@yosoyjay Yeah,sure.I would definately refactor the code.

[2019-03-12 03:39] esproles commented on #15
@ritwikagarwal
Sorry for the delayed response.

I suggest:

1) providing example code that demonstrates a near-real time feed of USGS stream gage into a web-based interface, preferably Data Studio or Sheets. Fusion Tables are not a great option as they will be deprecated in Dec 2019.

2) providing an example of how to transition the results from the GEE code into Data Studio using Big Query GIS.

[2019-03-12 14:06] 1998at commented on #13
@ZihengSun Could we have access to the original Dataset of size 360 . In almost all cases,Increasing The size will lead to better results when it comes to Segmentation.

[2019-03-12 14:18] ZihengSun commented on #13
They should have the same results. The impacted region is the edge areas which should be fine in this case. Some time ago I used FCN (I forget which code I used) on the 128 dataset and have this result:
![image](https://user-images.githubusercontent.com/17322987/54207021-cebd7880-44af-11e9-8183-a457b9363f38.png)
The accuracy is >80%. You approach at least achieve this accuracy. Carefully inspect y

[2019-03-12 14:49] 1998at commented on #13
@ZihengSun  I am having trouble in setting up rotation for both image masks and input.Right now I am using the 4 dihedral transform(90 degree rotation with flips) as part of my Data Augmentation.Also Did you Normalise the values to ImageNet Stats(using a pretrained model as feature extractor).Right now I am Normalising the data to have 0 mean and 1 std dev but at the same time I am using a Resnet

[2019-03-13 17:15] yosoyjay commented on #17
Hi all, I've added class labels to the training data.  It's this [file](https://github.com/axiom-data-science/OrcaCNN-data/blob/master/data/training/positive/class_labels.json).  These's labels refer to specific calls being made and do not refer to the pods because I don't have the labels for that right now.

I didn't include labels in the negative set because you can just treat those as 'negative

[2019-03-13 18:06] sainimohit23 commented on #17
Hi @yosoyjay, I just want to tell you that I was able to create a program which can give precise time of orca calls in variable length input audio using the same model that I trained previously.

[sample audio ](https://drive.google.com/open?id=14WZLErigVPEZp6nAuNJLm8MNrBuIJ32x) and it's results:

![Screenshot_61](https://user-images.githubusercontent.com/26195811/54303021-0c252180-45e8-11e9-9467-

[2019-03-13 23:19] kunakl07 commented on #17
Hi @yosoyjay ,
My model correctly predicts the class of Ocra-calls,of long audio sample( if they are positive) by training the small audio samples.
![bandicam 2019-03-13 15-43-40-112](https://user-images.githubusercontent.com/36035718/54320754-54721e80-45ab-11e9-9dc9-1f2d5641ec13.jpg)

Steps performed by me,if any participant would like follow:
1)Here,I created 8 folders,one for each class,and the

[2019-03-14 08:45] 1998at commented on #13
@ZihengSun  One more thing I needed to confirm,Do I need to be restricted to Keras.Right now I am working on models with Pytorch.

[2019-03-14 10:44] Ahmed-Moselhy commented on #17
@yosoyjay I am very interested in contributing to this project. I have prior knowledge of working with acoustic data. What steps would be helpful to show my interest and how good of a fit I think I am for this project?

[2019-03-14 10:56] ZER-0-NE commented on #17
Hi @Ahmed-Moselhy
You can go through the first steps as mentioned in the first comment.That should probably help you get started.

[2019-03-14 13:51] ZihengSun commented on #13
It is not restricted to Keras. Pytorch should work.

[2019-03-14 14:52] sankalpmittal1911 commented on #13
@ZihengSun I will also try pytorch if keras does not do the job. Will get back soon.

[2019-03-14 15:44] 1998at commented on #13
@sankalpmittal1911-BitSian  Let me know if you need any help and usually choice of a framework doesnt have that much affect on a model's accuracy since base operations are very much similar among  frameworks

[2019-03-14 17:08] yosoyjay commented on #17
@sainimohit23 Very nicely done, being able to accurately identify when the calls start and end is critical for the project.  How does the method respond if there are multiple calls in very close proximity?  Not a great example, but [this sample](https://raw.githubusercontent.com/axiom-data-science/OrcaCNN-data/master/data/training/positive/01.wav) has two back-to-back calls.  Does you're method id

[2019-03-14 17:11] kunakl07 commented on #14
Hi @rsignell-usgs ,
![bandicam 2019-03-14 08-42-01-823](https://user-images.githubusercontent.com/36035718/54375497-5fc25a00-463e-11e9-8f6a-112c5710abec.jpg)
This is the interactive GUI created using holoviews,geoviews,dask,datashader and bokeh of New York Taxi Trip.
When we hover over the image we can see its plot_x and ploy_y's co-ordinates respectively.
The data is loaded in Parquet-format file

[2019-03-14 17:19] yosoyjay commented on #17
@kunakl07 I like where this is heading, it does look like your model has successfully identified calls in the long samples - very good!  So a next step in your model building would be to separate and identify all of the calls made in those long samples.  Given that, what do you think the next steps would take?

Also, as I mentioned in the comment above, please post your code and results in Markdow

[2019-03-14 17:21] yosoyjay commented on #17
Hi @Ahmed-Moselhy!  Thanks for your interest in this project.  Please have a look at the First Steps at the top of the issue.  The posts from other folks interested in the project may also help and give you a sense of the type work associated with the project.  Good luck!

[2019-03-14 18:10] sainimohit23 commented on #17
@yosoyjay I just created an example with multiple calls. Here is the [audio file](https://drive.google.com/open?id=1BHjzKrL3ueYHjL5PcL_9E92yBucuFN4w) . Results:

I have also thought of a pipeline for both detecting and classifying the orca calls. I would like to discuss it with you via e-mail/linkedIn or any other means. If you want I can share(only with you) the code of the stuff that I have done

[2019-03-14 18:27] kunakl07 commented on #17
@yosoyjay ,Sir
I have identified all the calls seperately,in a single long sample.
The 32 second long sample is divided into fixed sized chunks of 4 seconds and saved .
Then our model predicts on these smaller sized chunks,which type of calls they contain(weeya,double_weeya,etc).

After increasing the number of epochs to 8000,and increasing feature dimensions and adding a few more layers of CNNs,t

[2019-03-15 00:14] RBerkheimer opened #20 "Develop Novel ASOS Anomaly Detection and Explore Automated QC"

[2019-03-15 13:47] sankalpmittal1911 commented on #13
@ZihengSun  @at1998

I am having hard time improving the accuracy after certain epoch. Here is my training-validation log:

[code]

First I tried with this model:

[code]
Then I changed to:

[code]

[code]

Can anyone point out what I should do to eliminate this problem? Thanks.

[2019-03-15 15:52] 1998at commented on #13
@sankalpmittal1911-BitSian  From the logs of your Training It seems that validation Loss Is going down after every epoch.So I dont See a Problem in that.Try training it for more time.

[2019-03-15 16:25] ZihengSun commented on #13
@sankalpmittal1911-BitSian Thanks for the network. Can you use the current model to predict an image using a random input tile from the test dataset? Let's first check if the setup will work correctly before training it with more epoches.

[2019-03-16 10:09] sankalpmittal1911 commented on #13
@ZihengSun Okay. I will input any one of the (128,128,7) from the validation set and post the predicted (128,128,1) segmented image after the argmax of (128,128,255) output. I am right now using model trained for only 35 epochs. Thanks.

[2019-03-17 15:34] rpalomaki commented on #15
Looks like a fun project! Are there any plans to also incorporate precipitation data (i.e. rain gauges) into the model, or will the focus over the summer be primarily on the stream gages?

[2019-03-17 17:05] sankalpmittal1911 commented on #13
@ZihengSun Sir, So I used my model trained for only 30 epochs first. Got the accuracy of 53% (I said that it was not improving after certain epoch). Then I took (128,128,7) from the validation set and these 7 input images are:

![image](https://user-images.githubusercontent.com/36561982/54494802-40f4e980-4904-11e9-88c5-12899e4c08fe.png)
![image](https://user-images.githubusercontent.com/36561982/5

[2019-03-17 17:56] sainimohit23 commented on #17
Hi, @yosoyjay ,

I have made a model to classify the data that you have provided. In data preprocessing I first standardized the sampling rate and channels. Then I created dataset for train, test and validation with 150, 30 and 30 samples(negative included) respectively. All the samples have length of 1 second. Used the data to train a simple 4 layered model for 20 epochs and here are the results.

[2019-03-17 20:23] kunakl07 commented on #17
Hi @sainimohit23,
My model takes input dataset of 3 seconds audio-clips and even longer,and it predicts correct class of the calls in the long samples with overlayed background noise pretty well.
Therefore,I think you should initially preform template matching and include only the lower range of the frequencies of the spectrogram(0-200Hz), since the whale calls are commonly located in this area of

[2019-03-17 20:38] sainimohit23 commented on #17
@kunakl07 thanks I'll try that. But, don't you think 8000 epochs are too much for a small dataset like that?

[2019-03-17 21:13] kunakl07 commented on #17
@sainimohit23,I performed data augmentation and increased my dataset to a huge amount
This was done by adding noise,performing shifting and stretching operations.
I also mixed background noise and performed speed tuning and volume tuning.
Here's the code,which you can use to perform data augmentation on your audio clips.

Apart from this,I have also used Conditional GANS to increase my dataset,whi

[2019-03-18 03:00] ZER-0-NE commented on #17
Hi @kunakl07
You are right in your thinking, but I guess the range for right whale up-sweeping calls belong to the range (100Hz-200Hz).
Interesting of you to use Conditional GAN's. I wanted to know why you think it would work out well in this case?
And regarding your dataset, how much is your size of dataset after applying data augmentation?

[2019-03-18 11:29] kunakl07 commented on #17
@ZER-0-NE ,
The reason I've used cGANS is because it squeezes the most out of the small data.
Here we have 2 networks,one Generator(tries to enhance  the input noisy spectrogram) and one Discriminator(tries to distinguish between enhanced spectrograms) which would classify real and fake spectrogram ,and give feedback to generator,i.e if its weeya and its correctly classified as 'weeya'
GANS would

[2019-03-18 14:31] ZihengSun commented on #13
@sankalpmittal1911-BitSian yeah, it is better for observing if rendered using colors.  The distribution shape starts to match but the values seem wrong.

[2019-03-18 14:59] rsignell-usgs commented on #14
Folks, @martindurant and I had a chat and we will be creating a repo with a toy dashboard panel problem that you will be able to work on to show your familiarity with widget interaction.  Should be ready within a few days.

[2019-03-18 16:34] sankalpmittal1911 commented on #13
@ZihengSun  Distribution shapes starts to match because I guess that set up of the model is actually making sense as far as the segmentation goes. Values i.e. pixel values predicted are wrong because accuracy is very less.

I tried training model for 10 epochs more and accuracy was literally hovering around 53% and is not improving. I have to increase accuracy to get the values right. What should

[2019-03-18 16:44] ZihengSun commented on #13
@sankalpmittal1911-BitSian I found that the way you get the results is a little weird to me.

[code]
Is this the implementation of softmax? What is your code for compiling and training the model?

[2019-03-18 16:48] 1998at commented on #13
@ZihengSun  I managed to get training accuracy of 82 but on the validation set I cannot go beyond 70% accuracy.I tried various Learning Rates  and DropOut and Shifted from UNet to FCN.Should I try Ensembling.

[2019-03-18 16:50] sankalpmittal1911 commented on #13
@ZihengSun No sir, this is the conversion of (128,128,255) into (128,128,1) after prediction by taking maximum along 255 classes. Alternatively I could have employed `numpy.argmax(axis=3)`. Here is my code for compiling and training model:

[code]

Here is training:

[code]

`new_model=load_model('/content/model.h5')`

`results = new_model.fit_generator(get_data(train_ids, batch_size=2), steps_per

[2019-03-18 19:09] yosoyjay commented on #17
@kunakl07 @sainimohit23 @ZER-0-NE

Hi all, very nice progress and work thus far.  I like that you have all approached this is slightly different ways and appreciate the fact that you have all been open to sharing your approaches to the problem.

To provide a bit of additional context for actually applying for the program, I'm providing a bit of detail for what is needed for the project.  This shou

[2019-03-18 21:07] #20 closed

[2019-03-19 07:22] ZER-0-NE commented on #17
@kunakl07
It's an impressive idea indeed to use cGAN for improving the data collection.
I believe as long as mode collapse does not set in(as I'm assuming it didn't here) for the generator, it would be a useful addition to use adversarial networks.

[2019-03-19 13:35] esproles commented on #15
@rpalomaki -
Thanks for your interest - yes the goal will be to eventually incorporate other _in situ_ data. The USGS is simply a preliminary step in the process. Ideally this would happen over the summer.

- E

[2019-03-19 18:35] 1998at commented on #13
@ZihengSun I needed to clarify a doubt.Can we Try Ensembling or are we restricted to A Single Model

[2019-03-19 18:38] sankalpmittal1911 commented on #13
@at1998 Did the conversion of FCN from UNet made any difference? Also which _type_ of ensembling technique are you referring?

[2019-03-19 18:44] 1998at commented on #13
@sankalpmittal1911-BitSian  I tried both the models and both are almost getting stuck at the same validation score.So In my case it didnt make any difference

[2019-03-19 18:45] yosoyjay commented on #17
Hi all, I've started filling out the [OrcaCNN repo](https://github.com/axiom-data-science/OrcaCNN) where the work for the project will take place.

I'll work on fleshing out the idea of the project there by opening issues and such.  This may be helpful to guide applications.

[2019-03-19 18:51] kunakl07 commented on #17
That's great sir!

[2019-03-19 18:54] ZihengSun commented on #13
Ensembling is allowed if it is making progress on the validation accuracy.

[2019-03-19 18:54] ZihengSun commented on #13
Training accuracy of 82 is very promising. Could you increase the ratio of training samples over testing samples? Normally for complex classification task on big data, the suggested ratio is 98:1:1. Since our sample dataset is small, I would say 90:5:5 might be good. I will add more samples to improve the feature diversity of the sample pool and reduce bias.

[2019-03-19 18:56] ZihengSun commented on #13
@sankalpmittal1911-BitSian ~50% and no longer increasing is not a good sign after ~30 epochs. It must have some places wrongly configured which makes the network not learning.

[2019-03-19 18:59] 1998at commented on #13
@ZihengSun I am using 90% for Training and 10% for validation.Havent split out the test set yet.Should i try to train  on 95% of the data.One thing that I have noticed is that averaging all the seven channels into 3 channels is producing better accuracy and converging the Model much Faster rather than passing all the seven channels as Separate inputs.It could be due to poor Augmentation.Also I hav

[2019-03-19 20:12] sankalpmittal1911 commented on #13
@at1998 Are you using (128,128,3) as input? Did you calculate average of 7 channels over 3 channels?

[2019-03-20 02:29] lewismc commented on #19
This is a really good idea @ndp-opendap

@prasadgujar thanks for showing your interest

PING @jgallagher59701

[2019-03-20 02:33] lewismc commented on #12
@meharbhatia ping

@kushagragpt99 @kunakl07 @maykillmore how are you guys getting on here? Have any of your started looking at the referenced code with the goal of successfully having a local deployment? Thanks

[2019-03-20 03:01] karlbenedict opened #21 "Data Management Training Clearinghouse Analytics Enhancement - Google Summer of Code Project"
Data Management Training Clearinghouse Analytics Enhancement - Google Summer of Code Project
=============================================================================================

**ESIP Member Organization Name:**

University of New Mexico - University Libraries

Mentors:
--------

Karl Benedict, Jon Wheeler

Information for Students:
-------------------------

General information for stu

[2019-03-20 04:46] llucifer97 commented on #17
Hi ,I am Ayush Raj , student at Birla Institute of Technology, Mesra. I am very much interested in this project. Please can someone help me getting started. I have gone through the blogs given above and cloned the repository of dataset. what next, what i am supposed to do?

[2019-03-20 05:10] kunakl07 commented on #17
Hi @llucifer97 ,
Initially,you need to detect Ocra calls in your audio file.You can do this by building a model,giving training dataset provided by @yosoyjay as input and successfully detect audio calls in long samples,if present.
Once you get an idea what the problem looks like and how to work with spectograms to detect calls,you can preform the above steps given by @yosoyjay

[2019-03-20 07:24] 1998at commented on #13
@ZihengSun In the AgNet Dataset We know that the 7 channels are 7 bands from LandSat8. Could we get an information on which band corresponds to which color spectrum.I searched on the Web and most articles mention LandSat8 having 11 channels.Could you please help me out.

[2019-03-20 07:25] 1998at commented on #13
@sankalpmittal1911-BitSian  I tried (128 * 128 * 3 ) as well as (128 * 128 * 7).IN my most current method I am giving the 7 channel Input Though

[2019-03-20 13:33] ZihengSun commented on #13
The bands in sample data come from Landsat 8 OLI sensor. More details about the band and its spectral region could be found [here](https://landsat.usgs.gov/how-does-landsat-8-differ-previous-landsat-satellites). Band 8 ~ 11  are rarely used in land cover classification. The multi spectral bands will help increase the feature space than only RGB bands. Neural network is supposed to take advantage o

[2019-03-20 13:45] 1998at commented on #13
@ZihengSun I tried combining the 2,3 and 4th band to form RGB image and i will be posting soon,it doesnt seem like an image from satellite.Yes I understand that RGB wont be enough and I would be leveraging all the channels.Could you also clarify my doubts regarding The Proposal as i mentioned above?

[2019-03-20 13:53] ZihengSun commented on #13
You can include any idea that might improve the model in the proposal and state the reasons aside.

[2019-03-20 15:05] 1998at commented on #13
@ZihengSun This is what I am getting on stacking RGB channels Together.
![image](https://user-images.githubusercontent.com/43177479/54695128-64f83b00-4b4f-11e9-9039-70a3915fd03f.png)
Here is the code to combine the channels which has been borrowed from
https://gist.github.com/ckrehbiel/f5760a3d07aed91edc14a5e4ec03472f
[code]
The image doesn't seem right

[2019-03-20 17:12] yosoyjay commented on #17
@llucifer97 Hi Ayush, yeah as @kunakl07 mentioned, the way to get started is to go through the first steps outlined at the top of the issue to understand what the work entails at a high-level.  I'd also suggest having a look at what other interested folks have done thus far - lots of interesting work!

[2019-03-20 18:41] DenuwanLiyanage opened #23 "new project idea"
Hi, I'm Denuwan from University of Moratuwa Sri Lanka.
I'm trying to find a method to identifying the diseases which occurs in cereals using satellite. If I do this as a project can you help me to
find a mentor to my project? Please be kind to give a response.
Thank You for you time.

[2019-03-20 18:48] DenuwanLiyanage commented on #23
seeking mentors

[2019-03-20 18:57] #23 closed

[2019-03-20 18:58] DenuwanLiyanage opened #24 "New Project proposal"
Hi, I'm Denuwan from University of Moratuwa Sri Lanka.
I'm trying to find a method to identifying the diseases which occurs in cereals using satellite. If I do this as a project can you help me to
find a mentor to my project? Please be kind to give a response.
Thank You for you time.

[2019-03-20 19:08] sankalpmittal1911 commented on #13
@ZihengSun I tried debugging my code. Softmax is performed correctly. All pixels over 255 classes sum to one. Data is being loaded correctly using the custom loader batchwise. I tried using DeepLab and even this model gets stuck on about 53% with validation accuracy poorer than U-Net. Now I am truly lost. Tried increasing the layers as well but the accuracy does not seem to improve. Changed metric

[2019-03-20 21:26] sankalpmittal1911 commented on #13
@ZihengSun Finally some improvement. Took only training this time.

->Increased number of layers.
->Trained for less data first, saved the model and gradually increased the data to 1593.
->Keras has issues with softmax. That is why I created a custom layer using backend.

[code]

[2019-03-21 03:29] ZihengSun commented on #13
The Landsat band value ranges are not 0 ~ 255. They are 16-bit numbers. Valid range is 0 ~ 10000. The creation of true-color image is not straightforward. Here is a [guide](https://earthobservatory.nasa.gov/blogs/elegantfigures/2013/10/22/how-to-make-a-true-color-landsat-8-image/?src=share) how to create true-color Landsat image. My suggestion is rendering your results using the CDL color table fi

[2019-03-21 03:30] ZihengSun commented on #13
The training looks promising. You need check the validation accuracy at the same time to avoid overfitting. Early stop might also be required, e.g., stop if no improvement after 10 consecutive epochs.

[2019-03-21 06:59] rsignell-usgs commented on #14
@hdsingh, glad to see you trying to test the Panel GUI progress.   This GSoC project will definitely be harmonized with that work.

@kunakl07, while the work with the Parquet data is cool, note this GSoC will focus on a GUI for geographic N-dimensional array data (e.g. data that can be loaded in xarray).

[2019-03-21 06:59] rsignell-usgs commented on #14
Here's the little test problem promised: https://github.com/intake/intake-gsoc-gui

[2019-03-21 12:43] Swati707 commented on #13
I am Swati Kanchan, a final year B. Tech undergraduate from NIT Durgapur, India. I have been working with Deep Learning in biomedical imaging for last one year and also published a work on Brain tumor classification using CNN, achieving the best accuracy, in proceedings of ICACCP'19. Recently, I along with my team won in Smart India Hackathon'19 where I developed two deep learning models and a use

[2019-03-21 12:56] martindurant commented on #14
Another good and complete example of a Panel-based dashboard is at https://github.com/jsignell/pydata_dc_2018 , notebook 04 - this one actually uses Intake. You can run this example in Binder.

[2019-03-21 15:31] 1998at commented on #13
@ZihengSun
![image](https://user-images.githubusercontent.com/43177479/54763548-3005ea00-4c1c-11e9-9394-96a1e50200f9.png)
Here is what I have been able to go to in the training after training for about 150 epochs.The validation accuracy is still around 70% So I am going to work on that.Increase Dropout and try various methods.It seems to be stuck in this region.In the first 50 epochs it was able t

[2019-03-21 16:56] sankalpmittal1911 commented on #13
@ZihengSun I have kept dropout as 0.15 and I am getting 73% validation categorical accuracy. By the way the training log I have been posting here consisted of 1500 images out of 1593. Can you also please comment on the proposal (draft) I sent you on the email?

@at1998  Are you using colab? You are using model.fit or model.fit_generator ?

[2019-03-22 04:47] 1998at commented on #13
@sankalpmittal1911-BitSian  I am not using Keras

[2019-03-22 04:49] ZihengSun commented on #13
LinkNet seems interesting. Looking forward to see if it can produce the similar results as the other nets used here.

[2019-03-22 04:53] ZihengSun commented on #13
@sankalpmittal1911-BitSian I will read it and get back to you as soon as I can.

Do you mean the left 93 images are used as validation datasets?

[2019-03-22 04:55] ZihengSun commented on #13
@at1998 I suggest you could print the validation accuracy as well in the log. It seems the training accuracy is still rising but very slow. Maybe it is already overfitting.

[2019-03-22 08:15] 1998at commented on #13
@ZihengSun  OKay I will do that and share it.I will also try adding some weight decay to try to stabilise it more and get back to you.

[2019-03-22 08:24] sankalpmittal1911 commented on #13
@ZihengSun Yes, those 93 images are in validation set.

[2019-03-22 21:25] lewismc commented on #24
Hi @DenuwanLiyanage can you please forwarded your message to the ESIP Agriculture community
wiki page - http://wiki.esipfed.org/index.php/Agriculture_and_Climate
mailing list - http://lists.esipfed.org/mailman/listinfo/esip-agclimate
Thanks

[2019-03-22 21:31] lewismc commented on #12
@meharbhatia @kushagragpt99 @kunakl07 @maykillmore PING

[2019-03-23 02:39] DenuwanLiyanage commented on #24
Ok. Thank you for the response.

On Sat, 23 Mar 2019, 02:55 Lewis John McGibbney, <notifications@github.com>
wrote:

[2019-03-23 03:02] DenuwanLiyanage commented on #24
Can you tell me how can I contact someone in Agriculture community ? Is that ok to post a mail on mail list?

[2019-03-23 06:41] kunakl07 commented on #12
Hi @lewismc ,
Working with AllegroGraph's on Jupyter Notebook.
Here,we take restaurants from the East Part of San Francisco and find longitude and latitude,creating
n-dimensional capabilities,and when we click a part on the map,it would shows all the resturants that are in particular region
![bandicam 2019-03-22 23-03-50-128](https://user-images.githubusercontent.com/36035718/54862668-3dde6c80-4cf

[2019-03-23 15:54] hdsingh commented on #14
@rsignell-usgs @martindurant I made an interactive dashboard for the test problem [here](https://github.com/intake/intake-gsoc-gui/pull/1).

 Can you please review it and let me know further improvements if any?

[2019-03-23 20:02] 1998at commented on #13
@ZihengSun  Is there any kind Of Limit on How Lengthy the proposal Can be.I have almost finished my first draft of the proposal and its almost 8 pages Long.Do I need to Reduce it?

[2019-03-23 20:12] ZihengSun commented on #13
There is no length limit for the whole proposal. However, the project abstract should be no more than ten sentences. Precisely describe your plan. It must be doable within the project time window.

[2019-03-23 20:17] rsignell-usgs commented on #14
@hdsingh , awesome job.  I tried it and it worked great, within the notebook and the standalone app:
![2019-03-23_16-14-59](https://user-images.githubusercontent.com/1872600/54871211-07e6ca00-4d87-11e9-9130-0b42963299ba.png)

[2019-03-23 20:26] sankalpmittal1911 commented on #13
My draft is 13 pages. What should I modify in that? Can you please comment?

Thank you.

[2019-03-24 04:26] ZihengSun commented on #13
The length is fine.

I have read your draft. It has all the required sections. That is very good. You might need more emphasize your idea and work plan. The background and challenge introduction should be very brief in abstract. The abstract must have no more than 10 sentences.

Customizing deep learning model is not equal to switching among deep learning models. Trying different models and compar

[2019-03-24 08:21] hdsingh commented on #14
@rsignell-usgs Thanks a lot sir!! Glad that you liked it.

[2019-03-24 09:58] sankalpmittal1911 commented on #13
Okay, I will get back with the updated draft as soon as I can. Thank you for the feedback.

[2019-03-24 10:15] 1998at commented on #13
@ZihengSun  I have mailed you my draft for the proposal at zsun@gmu.edu.Can you please go through it and provide me the feedback.Thanks

[2019-03-25 01:41] rpalomaki commented on #15
Hi @esproles - I wrote a [small package](https://github.com/rpalomaki/nwis-data-extractor) to extract USGS/NWIS stream gage data for export into Google Sheets. It's written in python, so not yet deployable into the JS SnowCloudHydro model. But, that is one thing I would hope to accomplish over the summer if I have the chance to work on this project.

Currently, the data extractor handles only the

[2019-03-25 09:00] hdsingh commented on #14
I created a new dashboard based on data used in `GUI.ipynb`  in https://github.com/intake/intake/pull/286 .
The dasboard is available here [Land-Explorer](https://github.com/hdsingh/Land-Explorer).
Here I have shown three differernt methods of generating same dashboard by:
1. Using Holoviews Dynamic Map
2. Using Panel, Streams and Params
3. Using Param

![dashboard](https://user-images.githubuserc

[2019-03-25 09:44] hdsingh commented on #14
I also created a pull request for this dashboard to be merged in intake's GUI.ipynb (https://github.com/intake/intake/pull/308) .

[2019-03-25 16:37] 1998at commented on #13
@ZihengSun  Can you please give me suggestions to improve the draft.Thanks

[2019-03-26 04:26] DenuwanLiyanage commented on #24
Can you tell who is the mentor for this project? I'm interesting about this project.

[2019-03-26 06:54] Kirishikesan commented on #24
I am also trying to get into dealing with satellite images. I'll send you any resources that I can find about this. best of luck

[2019-03-26 15:01] ZihengSun commented on #13
@at1998  It reads really good. The plan is clear and doable. The network configuration is promising. My advice is adding some core equations to help explain how the model will converge well on training datasets with highly complex semantics. It is also better if the deliverables are explicitly itemized with expected outcome (e.g., source code, software release, web installation package, documentat

[2019-03-26 15:16] 1998at commented on #13
@ZihengSun Thank You for the Feedback. I can build up the equations and can explain why the model will converge faster however I didnt quite get what you meant in the latter part.Can you please give me an example.

[2019-03-26 15:19] ZihengSun commented on #13
Like where the code will reside, how to manage the version of models, what software will be used to create the documentation, what license will be used for the source code and the generated data results respectively, etc. These information is basic but essential in a proposal.

[2019-03-26 15:21] 1998at commented on #13
@ZihengSun  Okay I will do that.One more thing that i needed to discuss was that I have only recently begun with Open Source Projects I have done a lot of My own personal Projects and Have worked at companies as an Intern and took part in Various Deep Learning Competitions.But I havent contributed much to the the open source community.Will that pose a problem ?This is my first time with GSoC so I

[2019-03-26 15:24] 1998at commented on #13
@ZihengSun  I will Edit the Proposal And get back to you by tomorrow

[2019-03-26 20:01] ZihengSun commented on #13
Open source contributors' experiences will add credit to your proposal. No or less experiences are also fine, as long as you are willing to contribute to open source project in this summer.

[2019-03-26 20:04] 1998at commented on #13
@ZihengSun  Thank You for the clarification

[2019-03-27 12:01] rsignell-usgs commented on #14
Please submit proposals as soon as possible following [this template](https://github.com/ESIPFed/gsoc/blob/master/STUDENT-proposal-template.md) and remember as stated on the [GSoC proposal information for students](
https://google.github.io/gsocguides/student/writing-a-proposal):

Note the application deadline is April 9 18:00 UTC, but don't wait until then.  Share a draft well before then!

I can

[2019-03-27 12:11] esproles commented on #15
Hi @rpalomaki -
Thanks for your efforts. This is a great start to getting the USGS data into GEE. I am not sure that it would need to be converted into JS, as you could make a call from GEE.

Yes you are correct - the model would need both longterm and recent data. This would be a logical next step.

My second question is does this package grab daily data? The SnowCloudHydro Model uses monthly ave

[2019-03-27 18:52] esip-lab commented on #24
@DenuwanLiyanage a mentor would have to come from the ESIP community for this project to proceed. Lewis made good suggestions about our community groups that may have interest.

[2019-03-27 21:17] lewismc opened #26 "Create a test suite and linter tooling for CovJSON"
# Introduction
[CoverageJSON](https://covjson.org/) (typically shortened to CovJSON) is a format for encoding coverage data like grids, time series, and vertical profiles, distinguished by the geometry of their spatiotemporal domain. A CoverageJSON object represents a domain, a range, a coverage, or a collection of coverages. A range in CoverageJSON represents coverage values. A coverage in Covera

[2019-03-28 04:15] rpalomaki commented on #15
@esproles Currently the package only retrieves the most recent instantaneous value for a given variable and station. I believe this this is typically an hourly value, but could be daily depending on the station. But when I add the functionality to retrieve a longer period of data, it should be no problem to also add in temporal averaging and other statistics. This would give the user the ability t

[2019-03-28 04:35] esproles commented on #15
@rpalomaki - thanks for your response. Moving the package towards providing a temporal average of data (weekly, bi-monthly, monthly) will be a big step in creating a seamless framework for SnowCloudHydro.

Yes - hopefully the NWIS data extractor could be a stand alone package, but could the model incorporate other in situ data such as precip or SWE? These data would also come from sources other th

[2019-03-29 05:47] lewismc commented on #12
@kunakl07 that's pretty cool. What does the source data look like? How did you get it into AllegroGraph? Is it some RDF serialization?

I would stronly encourage you to start looking at issues in the [ORR Ont Backend System](https://github.com/mmisw/orr-ont/)

[2019-03-30 08:18] hdsingh commented on #14
@rsignell-usgs Thanks for the reminder sir. I am working on the proposal. The draft would be ready in a couple of days.

@martindurant  Sir, Can you please share your email address to so that I can also mail you the draft?

[2019-03-30 10:58] rsignell-usgs commented on #14
@hdsingh , if you share it with me I can share it with Martin.

[2019-03-30 17:14] 1998at commented on #13
@ZihengSun  I tried various methods for a UNet and after 85% it starts to overfit.If i train it for more the training accuracy goes up by 1-2% but then validation accuracy starts jumping between 76-78%.I am going to try FCN and observe if similar things happen.

[2019-03-30 17:17] 1998at commented on #13
@ZihengSun I am also working on the equations and updating my proposal and will be sending the next version in a day or two.Any Suggestions on the above problem ?

[2019-03-30 17:22] 1998at commented on #13
@ZihengSun  I was thinking about writing a custom loss function and then multiplying it by some factor to penalise it even more.
lets say loss=1.5 and no.of inaccurate predictions were 34.We can get 34 between a fixed range say[1,4] and multiply the loss by that.The more inaccurate predictions the more heavily the model is penalised and the more accurate predictions it makes the less.Would that wo

[2019-03-30 17:52] sankalpmittal1911 commented on #13
@ZihengSun  I noticed that the dataset is imbalanced, so I guess we could replace the loss with the weighted loss function. I am trying the same right now. I will also send updated proposal in 1-2 days.

They have derived it for MNIST dataset: https://github.com/keras-team/keras/issues/2115

I can try to derive it for this dataset. Also, I think we already have predefined function in tf.

[2019-03-31 03:50] rpalomaki commented on #15
@esproles - Yes, I think the current package could be expanded to incorporate other data. Do you have a particular dataset in mind for precip and SWE? There may be some differences in the data portals provided by different agencies.

[2019-03-31 06:49] sankalpmittal1911 commented on #13
I am also going to try PSPNet or LinkNet because for UNet I cannot go beyond 80% training and 73% validation.

[2019-03-31 18:05] esproles commented on #15
@rpalomaki - for precip and SWE data SNOTEL would provide a single digital stop for data. Even though these are limited to the western US, these data would be a great place to start.

[2019-04-01 13:20] hdsingh commented on #14
I just installed and had a look at [ncview](https://anaconda.org/eumetsat/ncview). It must be really very difficult to do research with the help of that tool. Panoply is times better than that. One thing good about ncview is its ability to extract timeseries signal at a particular location. However with the help of Pyviz and intake we can do so much more than just displaying data.

[2019-04-01 13:23] rsignell-usgs commented on #14
@hdsingh , probably the only functionalities that we could use from ncview (that are not already in panoply) are:
* extraction of time series, with ability to overlay several time series on same plot
* quick animation of the 2D maps over a specified 3rd dimension (frequently time)

[2019-04-01 13:50] martindurant commented on #14
@hdsingh : to be sure, there are *many* viewers of particular types of data in particular domains, and it is interesting to consider why some have become ubiquitous and others not, which doesn't necessarily map well to range of functionality. It can be that a viewer has only one feature lacking in others, but the users consider it so important that it compensates for other features being poor or a

[2019-04-01 18:40] hdsingh commented on #14
@rsignell-usgs I will figure out a way to implement these functionalities and add these in the proposal.
@martindurant Thank you sir, for your valuable insights. I will design the interface keeping these things in mind.

The interface would be designed in a way to integrate best features of Panoply and ncview. I will also look into some other softwares available for NetCDF and Geodata visualizatio

[2019-04-02 01:55] ZihengSun commented on #13
If the network starts to overfit when validation accuracy is ~80%, I would say its capability cap is already reached. Customization is the only way to go beyond that line.

[2019-04-02 01:58] ZihengSun commented on #13
The dataset is imbalanced because the land cover is naturally biased. The pixels of roads are much fewer than the pixels of crop fields. You could try class weight.

[2019-04-02 14:13] hritikthube commented on #17
hello sir I'm also interested in this project

[2019-04-02 17:32] esip-lab commented on #12
Hi all - a friendly reminder that there is ONE WEEK LEFT to submit your proposals for this project! Best of luck and we're excited to see what is submitted!

[2019-04-02 17:32] esip-lab commented on #13
Hi all - a friendly reminder that there is ONE WEEK LEFT to submit your proposals for this project! Best of luck and we're excited to see what is submitted!

[2019-04-02 17:33] esip-lab commented on #14
Hi all - a friendly reminder that there is ONE WEEK LEFT to submit your proposals for this project! Best of luck and we're excited to see what is submitted!

[2019-04-02 17:33] esip-lab commented on #15
Hi all - a friendly reminder that there is ONE WEEK LEFT to submit your proposals for this project! Best of luck and we're excited to see what is submitted!

[2019-04-02 17:33] esip-lab commented on #17
Hi all - a friendly reminder that there is ONE WEEK LEFT to submit your proposals for this project! Best of luck and we're excited to see what is submitted!

[2019-04-02 17:49] rpalomaki commented on #15
@esproles - Great, I'll start looking into it!

[2019-04-02 17:52] rpalomaki commented on #15
Hi @abburgess - I submitted a draft proposal a few days ago. Do you anticipate that I will be able to receive some feedback before the final versions are due?

[2019-04-02 18:05] esip-lab commented on #15
@esproles can you please make sure to review the draft proposal submitted by @rpalomaki to make sure he is on the right track and the proposal is as successful as possible?

[2019-04-02 19:19] hdsingh commented on #14
[Pyviz community ](https://gitter.im/pyviz/pyviz) is really amazing and great !!. Within a few minutes of discussion I got a way to maximise the screen area for the dashboard.

[2019-04-02 20:08] rsignell-usgs commented on #14
@hdsingh, glad to hear it!

[2019-04-03 23:06] sankalpmittal1911 commented on #13
@ZihengSun  I know that very less time is left. I will send you updated proposal by today's end. Shall I also share that on the portal or wait for it?

[2019-04-04 10:09] hdsingh commented on #14
@rsignell-usgs @martindurant I updated my proposal according to our discussion. I also completed the remaining sections and highlighted important improvements. Can you please have a look and let me know what else could be changed?
Thanks a lot!!

[2019-04-04 14:43] ZihengSun commented on #13
@abburgess Hi Annie, where should the proposals be submitted to?

[2019-04-04 15:18] CaptainDredge commented on #13
@ZihengSun  please check your email. I've sent something regarding proposal :smile:

[2019-04-04 16:26] esip-lab commented on #13
Draft proposals should be submitted through the GSoC portal.

Annie Burgess, PhD

Lab Director | Earth Science Information Partners (ESIP)

*esipfed.org/lab <http://esipfed.org/lab>* | 585.738.7549

*Sign up for the monthly ESIP Lab update here <http://eepurl.com/dtKL8z>.*

On Thu, Apr 4, 2019 at 7:43 AM Ziheng Sun <notifications@github.com> wrote:

[2019-04-04 20:35] martindurant commented on #14
The proposal is certainly ambitious! I would be very glad to see it all come to fruition.

I promise to have more for you by tomorrow, but a few stylistic initial thoughts:
- you should capitalise all of the names, such as Intake, Python, Panel and so on
- you should provide links for each of these external things (there are many!) the first time it is mentioned outside of abstract. You might cons

[2019-04-04 21:53] esproles commented on #15
@abburgess @rpalomaki -

I read the draft proposal, and it looks very solid. Great job.

@rpalomaki - did you submit it to the GSoC website or here on GitHub?

Thanks!

[2019-04-05 02:07] sankalpmittal1911 commented on #13
@ZihengSun  Please check your email for updated draft proposal. What can I do to improve it further?

[2019-04-05 02:19] sankalpmittal1911 commented on #13
Also shall I share it with the organization?

[2019-04-05 07:07] ghost commented on #13
Hi @ZihengSun !
I am very excited to contribute to this project. I know that it's way too late to get started, but I think that I can understand much in this one week.
So, can you please provide me with the required details to get started.
Thanks.

[2019-04-05 10:10] sankalpmittal1911 commented on #13
@ZihengSun Also, I found a very interesting publication: https://www.mdpi.com/2072-4292/10/8/1217/pdf

It makes use of temporal dependencies, as in it uses GRUs to classify crops. Maybe I can make use of that. Right now I am trying to find segmentation models which can achieve accuracy greater than 80% and I am thinking of accomplishing this by the end of 6th May (Pre-GSoC).

[2019-04-05 14:19] 1998at commented on #13
@ZihengSun  I have Sent you the Updated Proposal.Can you please go through it and please provide me with FeedBack before i upload it on the official GSOC Site.ThankYou

[2019-04-05 14:48] hdsingh commented on #14
I modified the proposal according to above recommendations and also added `Time Availability` section. I am waiting to get more feedback.

@rsignell-usgs @martindurant Thanks a lot for the review!

[2019-04-05 20:41] martindurant commented on #14
I think that the abstract can use a little work, it is the most important part of the proposal.

"limited functionality" is very vague. Rather, you can say that users wish to apply complex analysis methods to the data they are visualising, which is something you can only do in combination with the python-data stack.
Secondly, the latter statement about developers is true for all open-source projec

[2019-04-06 11:32] hdsingh commented on #14
1. `limited functionality` - resolved
2. `can only be reasonably extended by the software developers on those projects` - Provided example of Dask
3. `controlled data selection` - meant to say different variables, indexes at particular timestamps or locations, so change to `controlled data points selection`
4. All other comments - resolved

I have re-read the Abstract several times so it is becomi

[2019-04-06 19:21] martindurant commented on #14
Sorry, I'm travelling today, I probably won't be able to comment any more.

[2019-04-07 09:10] 1998at commented on #13
@ZihengSun  I trained my model for about 100 epochs(takes about an hour ) and while my training loss started going down very slowly but my validation loss started Stabilising to 78%.I will add The Custom Layer and Try On some more Customisation Itself.Meanwhile Can you please help me on with the proposal .Thanks

[2019-04-07 12:19] sankalpmittal1911 commented on #13
@ZihengSun I have already tried using custom lambda layer and it doesn't seem to make any difference. I have already used UNet. I will FPN/PSPNet/LinkNet and get back with the result as soon as I can.

Also please give feedback to the draft proposal.

[2019-04-07 18:56] hdsingh commented on #14
@rsignell-usgs
I am trying to extract and plot a time series at a location selected on the map using [GreatLakes_Dashboard](https://github.com/reproducible-notebooks/COAWST-ROMS_Dashboards/blob/master/GreatLakes_Dashboard.ipynb)

I extracted the location from map using `streams.Tap`. The location returned is in `lat` and `lon` however dimensions in xarray dataset are `nx`, `ny`. The timeseries cou

[2019-04-07 21:58] rsignell-usgs commented on #14
@hdsingh, while `xarray` can easily extract a time series at a point when the lat and lon coordinates are one dimensional, when lon and lon coordinates are two dimensional, as in this case, you need to bring in some other tools.   A tree approach is probably best, like: https://stackoverflow.com/a/40044540

[2019-04-08 02:16] ZihengSun commented on #13
Most information is available in this thread.

[2019-04-08 06:48] faraazshah commented on #26
I am interested!
Tried to contact you since @lewismc  on slack etc.

[2019-04-08 09:42] CaptainDredge commented on #13
@ZihengSun I've sent the proposal for review on your mail :smile:

[2019-04-08 14:56] lewismc commented on #26
hi @shfrz great, please start working on a proposal. Is there anything you need clarification on regrarding the above proposal?

[2019-04-08 15:49] hdsingh commented on #14
Sincere thanks and gratitude to @rsignell-usgs  @martindurant  @jsignell for your guidance  and support during the proposal preparation phase. I feel that because of this project I have learnt so much interesting data visualization things and I am excited to learn more. I have submitted the proposal.
Thanks a lot for listing this project in GSOC!

I am checking out the above approach and let you k

[2019-04-08 16:11] faraazshah commented on #26
Thanks a lot for replying!
I am really sorry that I showed up late.
But the best part is that during the GSoC period, I would be available full time 'cause I have no commitments for the college as I would be on a full two month vacation!

[2019-04-08 17:47] lewismc commented on #12
Hi @maykillmore, @kushagragpt99, @kunakl07 and @meharbhatia, no-one has shared a proposal here or with me directly yet. The final date for this is tomorrow. If you would like to be considered then you MUST submit a proposal by tomorrow this is mandated by Google. Thank you

[2019-04-08 17:48] lewismc commented on #26
@shfrz as we spoke about offline the final date for submitting a proposal is tomorrow. If you would like to be considered then you MUST submit a proposal by tomorrow this is mandated by Google. Thank you

[2019-04-08 17:59] 1998at commented on #13
@ZihengSun  I have Updated The Proposal Added Some Things.Can you please go through it.I understand that at this point you might be flooded with reviewing proposals so make things simpler I have Highlighted Whatever Changes I Made So You wont have to Go through Entire Document.I really Hope That you can Give it One Final Read Before I submit on the portal tomorrow

[2019-04-08 19:02] faraazshah commented on #26
Sure! Trying hard !
"Only one, but ripe" :)

[2019-04-09 07:52] 1998at commented on #13
@ZihengSun Should I give link to the Visualization Notebook Used in the proposal?

[2019-04-09 10:55] faraazshah commented on #26
Submitted the draft proposal for review. Hope you checked that!

[2019-04-09 14:24] hdsingh commented on #14
I added a feature to extract time series at a particiular location in [GreatLakes_Dashboard](https://github.com/reproducible-notebooks/COAWST-ROMS_Dashboards/pull/1). I tried `np.unravel_index` based approach first and it seemed to be working fine.

[2019-04-09 14:55] rsignell-usgs commented on #14
@hdsingh, way to go!  I tried it and it works!   This is really important functionality!

[2019-04-09 15:11] 1998at commented on #13
@ZihengSun  I have submitted My Final Proposal To The GSoC Site After Modifying it according to your Last Feedback.I would Like To Thank You For Helping Me Out With the Proposals.And Will Continue Working On it Trying Various Ways And Communicating With You the results

[2019-04-09 15:35] sankalpmittal1911 commented on #13
@ZihengSun I have uploaded the final proposal. Please see other sections like training steps where I have delved deeper regarding eliminating overfitting, underfitting etc. Under current approach, I have added reasons why approach is not working and possible steps to eliminate the issues. I hope I have covered mathematically and logically the schedule. Thank you.

[2019-04-09 17:06] OLavrik commented on #26
Hi @lewismc,

So interesting and knowledgeful tasks. I really like it and already submitted a proposal.

I wish for further collaboration.

Regards,
Olya Lavrichenko

[2019-04-11 14:52] ZihengSun commented on #13
Thank you all for your efforts!

[2019-04-13 18:17] ShubhamShaswat commented on #19
This is a really good project,map interface will make the Hyrax request form more simple and efficient for the users

[2019-04-15 03:50] hdsingh commented on #14
I added a feature to overlay several time series on the same plot in [GreatLakes_Dashboard](https://github.com/reproducible-notebooks/COAWST-ROMS_Dashboards/pull/2). The idea is to replicate the functionality of ncView.

[2019-04-15 13:08] rsignell-usgs commented on #14
@hdsingh, great!   I love that this is already useful for real work, and will just keep getting more and more useful!
![2019-04-15_9-06-37](https://user-images.githubusercontent.com/1872600/56135033-e039ea80-5f5d-11e9-8f94-f5ee2cb46762.png)

[2019-04-19 15:58] #24 closed

[2019-04-23 10:12] hdsingh commented on #14
I added [Location Marker](https://github.com/reproducible-notebooks/COAWST-ROMS_Dashboards/pull/3) feature. As of now all the markers are of same color. I will soon update these to have different colors according to time series.

[2019-04-23 13:41] rsignell-usgs commented on #14
Indeed!   Works great for me:
![2019-04-23_8-47-58](https://user-images.githubusercontent.com/1872600/56585494-ef4b1900-65ab-11e9-9046-b872fc434fd6.jpg)
I'm excited you are continuing to make excellent progress on this!

[2019-04-25 10:42] hdsingh commented on #14
I added  feature for location markers to have [same color as of their respective time series line](https://github.com/reproducible-notebooks/COAWST-ROMS_Dashboards/pull/5). Please have a look.

[2019-04-25 13:29] martindurant commented on #14
Thank you @hdsingh !

[2019-05-02 06:14] hdsingh commented on #14
@rsignell-usgs Sir, Thank you for adding me as a member in the [reproducible-notebooks](https://github.com/reproducible-notebooks) !

[2019-05-02 17:26] rsignell-usgs commented on #14
@hdsingh, as an experiment, the pyviz team deployed your current Great Lakes notebook as a web app here: https://roms.aip.anaconda.com/GreatLakes_Dashboard.   Very cool!

[2019-05-02 18:12] hdsingh commented on #14
This is really amazing. I am very glad to see that Pyviz team is also as excited as me for this project!!
Thanks a lot team Pyviz !

[2019-05-06 15:07] lewismc commented on #26
Thank you all for your proposals and your interest in ESIP. Unfortunately this project was not selected this year.

[2019-05-06 15:07] #26 closed

[2019-05-06 15:07] lewismc commented on #12
Thank you all for your proposals and your interest in ESIP. Unfortunately this project was not selected this year.

[2019-05-06 15:07] #12 closed

[2019-05-06 15:39] faraazshah commented on #26
Really heartbreaking ...

[2019-05-06 18:20] sainimohit23 commented on #17
Congratulations Abhishek

[2019-05-06 19:08] hdsingh commented on #14
@rsignell-usgs @martindurant
Sir, Thanks a lot for your guidance! I got selected !
Looking forward to work and learn more from you.
Let's make this project successful !

[2019-05-06 19:12] hdsingh commented on #17
Congrats @ZER-0-NE !!

[2019-05-06 19:25] rsignell-usgs commented on #14
Congratulations @hdsingh!   I have no doubt that with your enthusiasm, intelligence and drive, this project will be successful!  This work should have many benefits, among them:
- you will gain through learning and experience
- the community will gain a useful tool for visually exploring CF-compliant multidimensional data
- the community will get a well-documented example of building an interactiv

[2019-05-06 19:33] martindurant commented on #14
Good news - all of the exploratory work has paid off :)

[2019-05-06 19:33] ZER-0-NE commented on #17
Thank you @hdsingh @sainimohit23

[2019-05-06 19:58] ZER-0-NE commented on #14
Congratulations @hdsingh :)

[2019-05-21 19:13] #11 closed

[2019-05-21 19:13] #13 closed

[2019-05-21 19:13] #15 closed

[2019-05-21 19:13] #19 closed

[2019-05-21 19:13] #21 closed

[2020-01-27 17:16] #17 closed

[2020-01-27 17:16] #14 closed

[2020-02-05 16:02] BenGalewsky opened #27 "Configurable, Science Aware Tool for Labelling Clouds"
## ESIP Member Organization
National Center for Supercomputing Applications (NCSA)

## Mentor
Ben Galewsky

## Project Idea
Build a jupyter notebook that allows researchers to build custom tools to label clouds from Earth Observing Systems such as the Terra Satellite.

Information for students
Just the generally information for students. See [ESIP Student Guide](https://github.com/ESIPFed/gsoc/blo

[2020-02-05 23:17] graybeal opened #28 "[GSOC Idea]"
# ESIP Member Organization Name

MMI (I think)

## Mentors

John Graybeal

## Information for Students

## Project Idea: Live Services for ESIP COR

### Abstract

Provide a "front page" for the Community Ontology Repository that gives naive users easy access to services of the repository.

### Technical Details

One goal of the COR is making access to semantic content easy for beginners. This idea

[2020-02-08 09:56] snack0verflow commented on #27
Hi @BenGalewsky just wanted to know if there are any evaluative tasks that I need to do, apart from the ones listed here? Asking in context of GSoC 2020.
I have some experience in Deep Learning and would love to work on this project. :))

[2020-02-08 10:11] snack0verflow commented on #27
Also could you please suggest some active repositories in https://github.com/ESIPFed on which I can start contributing. Thanks :)

[2020-02-11 13:14] 0xamogh commented on #27
@BenGalewsky
Hey! The work going on this organisation seems really interesting. I had a question regarding the above idea. Does it involve exploring and training data or is it more on the lines of building tools which could facilitate others to do ML

[2020-02-11 17:04] BenGalewsky commented on #27
The focus of this project is to develop powerful labelling tools to create the training sets needed by climate science. If you want to use them for developing your own models feel free, but that is not part of this project.

[2020-02-12 19:02] punitgalav commented on #27
Hi @BenGalewsky , I am Punit Galav currently pursuing Masters in Geoinformatics and Natural Resources Engineering of IIT Bombay. I have all the relevant skills required for this project and have studied GIS, Remote sensing of natural resources, Scattering models, Machine learning. I understand the importance of developing such a framework and looking forward to contribute to this project.

[2020-02-15 14:21] 12VISHESH commented on #28
@graybeal Hey Graybeal,  I am vishesh Tripathi from Galgotias university BTech 3rd year students,
I m highly interested in this project. In this project, we can build the web app(dashboard )through r shiny and perform live analysis through this.
 also, we can produce a live report as prefer.
 so suggest me what I can do further in this project.
really its motivate me because I have done many works

[2020-02-15 15:49] sdhoundiyal commented on #28
Hi @graybeal! I am a graduate student pursuing a degree in Geoinformatics. My work involves developing interoperable services for Geospatial applications. So far, I have mostly worked on developing clients for OGC standard services ( Here's a link to very basic SOS client: https://github.com/sdhoundiyal/SOSProject).
 Recently,I have also been working on Ontologies, OWL, and SPARQL. As such, I unde

[2020-02-28 14:26] ZihengSun opened #29 "Improve the Generality and Tolerance of CNN in Crop Mapping"
# ESIP Member Organization Name
Your organization:
George Mason University

## Mentors
Ziheng Sun

Please list the names of available mentors

## Information for Students

If you have special information / instructions for an application you should
list/link to it here. If not you can delete it. Please keep in mind that we
do have some general instructions for students at the
[ESIP Student Guide](

[2020-03-09 09:40] nachiketaraina commented on #29
Is there any organization that has been finalized under gsoc for this very project so that we could start familiarising ourselves with their work as a student plus how can we get started at this i.e more insight on the dataset and the project in general

[2020-03-09 17:07] esip-lab commented on #29
ESIP was not accepted as a GSoC mentor organization this year. We hope we
will be selected next year!

On Mon, Mar 9, 2020 at 2:40 AM Nachiketa Raina <notifications@github.com>
wrote:

[2021-01-15 19:11] rohankrgupta commented on #29
Hi, Is ESIP going to be a part of GSOC 2021 this year ?
If yes, could you please provide more details about this specific task such as datasets and overview.

[2021-01-18 07:25] sriharishgeo commented on #29
I would like to know is ESIP going to participate in GSOC 2021
Let me know the tasks and details

[2021-01-18 15:02] ZihengSun commented on #29
Hi, thanks for the message! I think so. I will confirm with ESIP.

For details about the task and datasets, please take a look at the [AgNet](https://github.com/ESIPFed/Ag-Net) and [AgNet-Dataset](https://github.com/ZihengSun/Ag-Net-Dataset)

[2021-01-19 03:27] sriharishgeo commented on #29
Thanks a lot

On Mon, 18 Jan 2021, 20:32 Ziheng Sun, <notifications@github.com> wrote:

[2021-01-23 17:50] ZihengSun commented on #29
Forwarding the message: ESIP will not participate gsoc this year, may be next year. Thanks for your interests in this idea! Any questions please don't hesitate to contact.

[2021-01-27 06:17] sriharishgeo commented on #29
Thanks for informing.

On Sat, 23 Jan 2021, 23:21 Ziheng Sun, <notifications@github.com> wrote:

[2021-12-03 06:15] das-ankur commented on #29
Can I get the dataset and some other informations, I want to contribute on this particular project.